@font-face {
  font-family: "Myriad";
  src: url("../fonts/Myriad Pro Regular.ttf"); }

@font-face {
  font-family: "Ral-Bold";
  src: url("../fonts/Raleway-Bold_0.ttf"); }

@font-face {
  font-family: "Ral-ExBold";
  src: url("../fonts/Raleway-ExtraBold_0.ttf"); }

@font-face {
  font-family: "Ral-ExLight";
  src: url("../fonts/Raleway-ExtraLight_0.ttf"); }

@font-face {
  font-family: "Ral-Heavy";
  src: url("../fonts/Raleway-Heavy_0.ttf"); }

@font-face {
  font-family: "Ral-Light";
  src: url("../fonts/Raleway-Light_0.ttf"); }

@font-face {
  font-family: "Ral-Medium";
  src: url("../fonts/Raleway-Medium_0.ttf"); }

@font-face {
  font-family: "Ral-Regular";
  src: url("../fonts/Raleway-Regular_0.ttf"); }

@font-face {
  font-family: "Ral-SemiBold";
  src: url("../fonts/Raleway-SemiBold_0.ttf"); }

@font-face {
  font-family: "Ral-Thin";
  src: url("../fonts/Raleway-Thin_0.ttf"); }

html, body {
  margin: 0;
  position: relative; }

ul {
  list-style: none; }

* {
  font-family: "Raleway", sans-serif; }

*::selection {
  background: #c23868;
  color: white; }

*::-moz-selection {
  background: #c23868;
  color: white; }

.topBar {
  width: 100%;
  height: 42px;
  background: #932d51;
  position: relative; }
  .topBar .leftNav ul {
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
    .topBar .leftNav ul li {
      display: inline-block;
      padding: 0 12px; }
      .topBar .leftNav ul li img {
        margin-right: 2px; }
      .topBar .leftNav ul li span {
        color: white;
        cursor: pointer;
        font-size: 12px; }
  .topBar .rightContent ul {
    padding: 0; }
    .topBar .rightContent ul li {
      display: inline-block;
      padding: 12px 2px;
      position: relative;
      font-size: 12px; }
      .topBar .rightContent ul li:last-child {
        padding: 12px 14px; }
      .topBar .rightContent ul li span {
        color: white; }
      .topBar .rightContent ul li select {
        border: unset;
        color: white;
        background: transparent;
        outline: none; }
        .topBar .rightContent ul li select option {
          background: #932d51; }
      .topBar .rightContent ul li .profilePhoto {
        width: 30px;
        height: 30px;
        position: absolute;
        right: -25px;
        top: 5px;
        display: inline-block;
        border-radius: 50%;
        background-size: 45px;
        background-position: -8px 57px;
        background-image: url("../img/profilePhoto.png"); }
  @media (max-width: 992px) {
    .topBar {
      height: auto;
      text-align: center; }
      .topBar .leftNav {
        float: unset !important; }
        .topBar .leftNav ul {
          padding: 0;
          position: static;
          transform: translate(0, 0); }
          .topBar .leftNav ul li {
            padding: 0 2px; }
      .topBar .rightContent {
        float: unset !important; } }

.header {
  padding: 30px 0;
  border-bottom: 2px solid #f2f2f2;
  background: white; }
  .header .logoDiv {
    cursor: pointer; }
  .header .cart {
    margin-top: 20px; }
    .header .cart .cartIcon {
      position: relative;
      width: 30px;
      display: inline-block;
      cursor: pointer; }
      .header .cart .cartIcon .counter {
        width: 27px;
        font-size: 12px;
        position: absolute;
        height: 27px;
        border-radius: 50%;
        font-family: "Ral-Bold";
        background: #c23868;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        top: -16px;
        left: 23px; }
    .header .cart h3 {
      display: inline-block;
      position: relative;
      top: 3px;
      margin-left: 20px;
      font-family: "Ral-Medium";
      font-size: 20px; }
  @media (max-width: 992px) {
    .header {
      text-align: center; }
      .header .cart {
        float: unset !important; } }

.links {
  text-align: center;
  background: white;
  height: auto; }
  .links .mainMenu {
    background: white;
    margin: 0;
    border-bottom: 1px solid #f5f5f5; }
    .links .mainMenu .sub:hover .caret {
      transform: rotate(0); }
    .links .mainMenu .sub:hover .submenu {
      visibility: visible;
      opacity: 1; }
    .links .mainMenu li {
      padding: 20px 15px 20px 17px;
      font-size: 14px;
      font-family: "Ral-Medium";
      display: inline-block;
      cursor: pointer;
      position: relative; }
      .links .mainMenu li .loup {
        cursor: pointer; }
      .links .mainMenu li .caret {
        margin-left: 5px;
        transform: rotate(-90deg);
        transition: .4s; }
      .links .mainMenu li .submenu {
        background: #f06060;
        padding: 0;
        position: absolute;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 10px grey;
        width: 100%;
        z-index: 1;
        transition: 1s;
        visibility: hidden;
        opacity: 0;
        top: 63px;
        left: 0; }
        .links .mainMenu li .submenu li {
          display: block;
          padding: 12px 10px;
          text-align: left;
          color: white;
          transition: .4s;
          border-bottom: 1px solid #b63b3b; }
          .links .mainMenu li .submenu li:hover {
            background: #ff7979; }
          .links .mainMenu li .submenu li:last-child {
            border-bottom: unset; }
            .links .mainMenu li .submenu li:last-child:after {
              width: 0 !important; }
          .links .mainMenu li .submenu li:after {
            width: 100% !important;
            background: #ff7979;
            position: absolute;
            bottom: 0;
            left: 0; }
      .links .mainMenu li:hover:after {
        width: 100%; }
      .links .mainMenu li:after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background: #c23868;
        transition: .4s;
        margin: auto; }
      .links .mainMenu li:last-child {
        padding: 0 55px; }
        .links .mainMenu li:last-child:after {
          width: 0 !important; }
      @media (max-width: 1280px) {
        .links .mainMenu li {
          padding: 20px 0 20px 8px; } }
  .links .burgerParent {
    width: 40px;
    margin: auto;
    padding-top: 22px;
    height: 70px;
    display: none;
    position: relative;
    cursor: pointer;
    z-index: 8888; }
    .links .burgerParent .burger {
      position: absolute;
      width: 100%;
      height: 100%; }
      .links .burgerParent .burger .burger1, .links .burgerParent .burger .burger2, .links .burgerParent .burger .burger3 {
        width: 100%;
        height: 2px;
        transition: .4s;
        position: absolute;
        background: #932d51; }
      .links .burgerParent .burger .burger2 {
        top: 10px; }
      .links .burgerParent .burger .burger3 {
        top: 19px; }
  @media (max-width: 992px) {
    .links {
      display: block;
      border-bottom: 1px solid #f5f5f5; }
      .links .burgerParent {
        display: block; }
      .links .mainMenu {
        display: none; } }

.mobileMenu {
  width: 100%;
  height: 100vh;
  background: #932d51;
  position: fixed;
  z-index: 555;
  left: -100%;
  transition: .7s;
  top: 0; }
  .mobileMenu .mobileList {
    position: relative;
    top: 50%;
    transform: translate(0, -50%); }
    .mobileMenu .mobileList li {
      font-size: 22px;
      margin-top: 5px;
      color: white; }
      .mobileMenu .mobileList li .caret {
        transform: rotate(-90deg);
        transition: .4s; }
      .mobileMenu .mobileList li .submenu {
        display: none; }
    @media (max-height: 460px) {
      .mobileMenu .mobileList {
        transform: translate(0, 0);
        top: 0; } }

.showSubmenu {
  display: block !important;
  margin: 20px 0 20px 0; }

.caretDirection {
  transform: rotate(0) !important; }

.activeMobileLink {
  font-weight: bold; }
  .activeMobileLink:after {
    background: white;
    width: 65px !important;
    content: "";
    display: block;
    height: 1px; }

.activeSub {
  transform: translate(0, 0) !important;
  top: 0 !important; }

.activeLink {
  color: #c23868;
  font-weight: bold; }
  .activeLink:after {
    width: 100% !important; }

.stickySocial {
  width: 60px;
  height: 276px;
  background: white;
  border-radius: 8px;
  position: fixed;
  box-shadow: 6px -1px 10px #cccccc;
  top: 50%;
  left: -5px;
  transform: translate(0, -50%);
  padding: 7px 7px;
  z-index: 111; }
  .stickySocial ul {
    padding: 0;
    position: absolute;
    top: 6px;
    left: 11px; }
    .stickySocial ul li {
      padding: 3px 0;
      margin-left: 3px; }
  @media (max-width: 992px) {
    .stickySocial {
      display: none; } }

.slider {
  width: 100%;
  height: 70vh;
  background: #e6e6e6;
  position: relative;
  overflow: hidden; }
  .slider .points {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 77; }
    .slider .points ul {
      padding: 0; }
      .slider .points ul li {
        padding-bottom: 17px;
        cursor: pointer; }
        .slider .points ul li .point {
          width: 10px;
          height: 10px;
          background: #c4c4c4;
          border-radius: 50%;
          margin: 0 auto; }
        .slider .points ul li .activePoint {
          width: 15px;
          height: 15px;
          background: #2c8e1f;
          position: relative; }
          .slider .points ul li .activePoint:after {
            content: "";
            display: block;
            width: 25px;
            height: 25px;
            position: absolute;
            border-radius: 50%;
            background: #a5c7a0;
            z-index: -1;
            top: -5px;
            left: -5px; }
  .slider .image {
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform .4s;
    position: absolute;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important; }
    .slider .image .badges {
      width: 100%;
      height: 50%;
      margin: 0 auto;
      padding: 0;
      position: relative;
      text-align: center;
      top: 50%;
      transform: translate(0, -50%); }
      .slider .image .badges .largeBox {
        position: relative;
        top: 150px; }
      .slider .image .badges li {
        position: relative;
        text-align: center;
        display: inline-block;
        margin: 0 100px; }
        .slider .image .badges li .content {
          width: 100%; }
        .slider .image .badges li .freeDelivery {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          background: white; }
          .slider .image .badges li .freeDelivery .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
            .slider .image .badges li .freeDelivery .content p {
              color: #c9ae7f;
              margin-bottom: 0; }
            .slider .image .badges li .freeDelivery .content h1 {
              font-family: "Ral-Heavy";
              color: #c23868;
              font-size: 48px; }
              .slider .image .badges li .freeDelivery .content h1 span {
                font-family: "Ral-Heavy";
                font-size: 24px; }
                @media (max-width: 1490px) {
                  .slider .image .badges li .freeDelivery .content h1 span {
                    font-size: 18px; } }
          .slider .image .badges li .freeDelivery:before {
            content: "";
            display: block;
            width: 160px;
            height: 160px;
            position: absolute;
            background: rgba(128, 128, 128, 0.18);
            z-index: -1;
            border-radius: 50%;
            top: -15px;
            left: -10px; }
        .slider .image .badges li .greatSale1 {
          width: 250px;
          height: 250px;
          border-radius: 50%;
          background: #2c8e1f; }
          .slider .image .badges li .greatSale1 .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
            .slider .image .badges li .greatSale1 .content p {
              color: white;
              margin-bottom: 0;
              font-size: 19px;
              font-family: "Ral-Light"; }
            .slider .image .badges li .greatSale1 .content h1 {
              font-family: "Ral-Bold";
              font-size: 55px;
              width: 100%;
              margin: auto;
              text-align: center;
              color: white; }
          .slider .image .badges li .greatSale1:before {
            content: "";
            display: block;
            width: 255px;
            height: 255px;
            position: absolute;
            background: rgba(128, 128, 128, 0.18);
            z-index: -1;
            border-radius: 50%;
            top: -15px;
            left: -10px; }
        .slider .image .badges li .greatSale2 .content .box1 {
          width: 370px;
          padding: 5px 50px;
          background: #f06060;
          border-radius: 5px;
          text-align: center; }
          .slider .image .badges li .greatSale2 .content .box1:after {
            content: "";
            display: block;
            width: 390px;
            border-radius: 5px;
            position: absolute;
            height: 95px;
            z-index: -1;
            background: rgba(128, 128, 128, 0.17);
            top: -9px;
            left: -10px; }
          .slider .image .badges li .greatSale2 .content .box1 h1 {
            color: white;
            font-size: 50px;
            font-weight: bold; }
        .slider .image .badges li .greatSale2 .content .box2 {
          background: #353535;
          margin-top: 35px;
          position: relative; }
          .slider .image .badges li .greatSale2 .content .box2 h2 {
            color: white;
            font-weight: 200; }
      @media (max-width: 1490px) {
        .slider .image .badges li .freeDelivery {
          width: 130px;
          height: 130px; }
          .slider .image .badges li .freeDelivery:before {
            width: 140px;
            height: 140px; }
        .slider .image .badges li .greatSale2 {
          position: relative;
          top: -40px; }
        .slider .image .badges li .greatSale1 {
          width: 150px;
          height: 150px; }
          .slider .image .badges li .greatSale1 .content h1 {
            font-size: 36px; }
          .slider .image .badges li .greatSale1 .content p {
            font-size: 15px; }
          .slider .image .badges li .greatSale1:before {
            width: 160px;
            height: 160px; } }
      @media (max-width: 1300px) {
        .slider .image .badges li {
          margin: 0 65px; } }
      @media (max-width: 1160px) {
        .slider .image .badges {
          position: absolute;
          bottom: -40px;
          top: unset;
          transform: translate(0, 0); }
          .slider .image .badges .largeBox {
            top: 50px; }
          .slider .image .badges li {
            margin: 0 20px; }
            .slider .image .badges li .greatSale1 {
              width: 150px;
              height: 150px; }
              .slider .image .badges li .greatSale1 .content h1 {
                font-size: 22px; }
              .slider .image .badges li .greatSale1 .content p {
                font-size: 14x;
                margin-top: 5px; }
              .slider .image .badges li .greatSale1:before {
                width: 160px;
                height: 160px; }
            .slider .image .badges li .greatSale2 .content .box1 {
              width: 105px;
              height: 25px;
              padding: 0; }
              .slider .image .badges li .greatSale2 .content .box1:after {
                width: 125px;
                height: 43px; }
              .slider .image .badges li .greatSale2 .content .box1 h1 {
                margin: 0 auto;
                font-size: 18px;
                width: 100px; }
            .slider .image .badges li .greatSale2 .content .box2 h2 {
              font-size: 12px;
              padding-top: 4px; }
            .slider .image .badges li .freeDelivery {
              width: 60px;
              height: 60px; }
              .slider .image .badges li .freeDelivery .content h1 {
                font-size: 16px; }
              .slider .image .badges li .freeDelivery .content p {
                font-size: 11px; }
              .slider .image .badges li .freeDelivery:before {
                width: 65px;
                height: 65px;
                top: -8px;
                left: -7px; } }
      @media (max-width: 992px) {
        .slider .image .badges {
          bottom: -70px; }
          .slider .image .badges li .greatSale1 {
            width: 80px;
            height: 80px; }
            .slider .image .badges li .greatSale1 .content h1 {
              font-size: 14px; }
            .slider .image .badges li .greatSale1 .content p {
              font-size: 9px;
              margin-top: 5px; }
            .slider .image .badges li .greatSale1:before {
              width: 90px;
              height: 90px; } }
      @media (max-width: 340px) {
        .slider .image .badges {
          bottom: -40px; }
          .slider .image .badges li {
            margin: 0 10px; } }
      @media (max-height: 780px) {
        .slider .image .badges {
          height: 50%; } }
      @media (max-width: 992px) and (max-height: 500px) {
        .slider .image .badges {
          bottom: 20px; } }
  .slider .activeImage {
    transform: translateX(0); }

.cardWrapper {
  position: relative; }
  .cardWrapper .card1 {
    width: 100%;
    border-radius: 15px;
    z-index: 10; }
  .cardWrapper .card2 {
    width: 94%;
    border-radius: 15px;
    position: absolute;
    top: 4px;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0); }
  .cardWrapper .card3 {
    width: 90%;
    border-radius: 15px;
    position: absolute;
    top: 8px;
    z-index: -2;
    left: 50%;
    transform: translate(-50%, 0); }
  .cardWrapper .card1, .cardWrapper .card2, .cardWrapper .card3 {
    border: 1px solid #e7e7e7;
    background: white;
    overflow: hidden;
    transition: .4s;
    margin-bottom: 20px;
    height: 313px; }

.homeContent {
  padding: 100px 0; }
  .homeContent .tabs {
    padding: 0;
    margin-bottom: 33px; }
    .homeContent .tabs li {
      display: inline-block;
      padding: 15px;
      font-size: 32px;
      font-family: "Ral-Medium";
      position: relative;
      color: #414141;
      cursor: pointer; }
      .homeContent .tabs li:first-child:after {
        left: 15px;
        border-radius: 10px 0 0 10px; }
      .homeContent .tabs li:last-child:after {
        border-radius: 0 10px 10px 0;
        width: 220%; }
      @media (max-width: 992px) {
        .homeContent .tabs li:last-child:after {
          width: 100%; } }
      @media (max-width: 992px) {
        .homeContent .tabs li:after {
          left: 0 !important; } }
      .homeContent .tabs li:after {
        content: "";
        display: block;
        width: 100%;
        height: 7px;
        background: #d4d4d4;
        position: absolute;
        z-index: -1111;
        bottom: 26px; }
      .homeContent .tabs li span {
        color: #c23868; }
      .homeContent .tabs li .checkDiv {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        border: 1px solid #e6e6e6;
        background: white;
        margin: 0 auto;
        margin-top: 10px; }
        .homeContent .tabs li .checkDiv img {
          position: absolute;
          width: 18px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        .homeContent .tabs li .checkDiv:after {
          content: "";
          display: block;
          width: 36px;
          height: 36px;
          background: #f7f5f5;
          border-radius: 50%;
          position: absolute;
          top: -4px;
          left: -4px;
          z-index: -1; }
      @media (max-width: 992px) and (min-width: 620px) {
        .homeContent .tabs li {
          font-size: 20px; } }
      @media (max-width: 620px) {
        .homeContent .tabs li {
          font-size: 13px; } }
      @media (max-width: 360px) {
        .homeContent .tabs li {
          font-size: 12px; } }
      @media (max-width: 350px) {
        .homeContent .tabs li {
          font-size: 10px; } }
    @media (max-width: 992px) {
      .homeContent .tabs {
        text-align: center; } }
    .homeContent .tabs .activeTab {
      color: #c23868; }
  .homeContent .cardWrapper {
    position: relative; }
    .homeContent .cardWrapper .card1 {
      width: 100%;
      border-radius: 15px;
      z-index: 10;
      cursor: pointer; }
      .homeContent .cardWrapper .card1:hover {
        box-shadow: 0 0 30px rgba(187, 187, 187, 0.59); }
    .homeContent .cardWrapper .card2 {
      width: 94%;
      border-radius: 15px;
      position: absolute;
      z-index: -1;
      left: 50%;
      transform: translate(-50%, 0); }
    .homeContent .cardWrapper .card3 {
      width: 90%;
      border-radius: 15px;
      position: absolute;
      z-index: -2;
      left: 50%;
      transform: translate(-50%, 0); }
    .homeContent .cardWrapper .card1, .homeContent .cardWrapper .card2, .homeContent .cardWrapper .card3 {
      border: 1px solid #e7e7e7;
      background: white;
      overflow: hidden;
      transition: .4s;
      margin-bottom: 30px;
      height: 313px; }
  @media (max-width: 992px) {
    .homeContent {
      padding: 50px 0; } }
  .homeContent .productImage {
    width: 100%;
    height: 230px;
    background-size: cover !important;
    background-position: center !important;
    position: relative; }
    .homeContent .productImage .filter {
      width: 100%;
      height: 100%;
      background: rgba(128, 128, 128, 0.24);
      position: absolute;
      left: 0;
      top: 0; }
      .homeContent .productImage .filter .oldPrice {
        width: 59px;
        height: 59px;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        top: 10px;
        background: #c23868;
        font-weight: bold; }
        .homeContent .productImage .filter .oldPrice .content p {
          font-size: 18px;
          color: white;
          margin-top: 5px;
          text-align: center; }
          .homeContent .productImage .filter .oldPrice .content p strike {
            position: relative;
            left: 3px; }
          .homeContent .productImage .filter .oldPrice .content p span {
            font-size: 12px;
            position: relative;
            top: -8px; }
      .homeContent .productImage .filter .productBadge {
        position: absolute;
        top: 0;
        right: 15px;
        text-align: center;
        padding: 12px;
        margin-bottom: 6px;
        height: 60px;
        width: 25px;
        transform: rotate(90deg); }
        .homeContent .productImage .filter .productBadge p {
          position: absolute;
          z-index: 11;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-90deg);
          font-size: 12px;
          color: white;
          font-family: "Myriad"; }
        .homeContent .productImage .filter .productBadge:after, .homeContent .productImage .filter .productBadge:before {
          content: '';
          position: absolute; }
        .homeContent .productImage .filter .productBadge:after {
          top: 0;
          left: 0;
          height: 100%;
          width: 51%;
          transform: skew(0deg, -15deg); }
        .homeContent .productImage .filter .productBadge:before {
          top: 0;
          right: 1px;
          height: 100%;
          width: 50%;
          transform: skew(0deg, 15deg); }
      .homeContent .productImage .filter .sale:after, .homeContent .productImage .filter .sale:before {
        background: #e28123; }
      .homeContent .productImage .filter .new:after, .homeContent .productImage .filter .new:before {
        background: #573ea6; }
      .homeContent .productImage .filter .txt {
        position: absolute;
        width: 100%;
        font-size: 18px;
        text-shadow: 0 0 10px white;
        text-align: center;
        font-weight: 600;
        bottom: -10px;
        left: 50%;
        transform: translate(-50%); }
  .homeContent .priceInfo {
    position: relative;
    z-index: 10; }
    .homeContent .priceInfo .price {
      display: inline-block;
      font-size: 32px;
      color: #464646;
      padding: 0 10px;
      width: 80px;
      text-align: center;
      font-family: "Ral-SemiBold";
      margin-top: 3px;
      margin-left: 5px;
      position: relative; }
      .homeContent .priceInfo .price:after {
        content: "";
        display: block;
        width: 1px;
        position: absolute;
        right: -11px;
        top: 14px;
        height: 47px;
        background: #d8d8d8; }
      .homeContent .priceInfo .price span {
        font-size: 14px;
        color: #999999;
        position: relative;
        font-family: "Ral-Bold";
        top: -20px; }
    .homeContent .priceInfo button {
      font-size: 18px;
      position: absolute;
      width: 116px;
      cursor: pointer;
      height: 46px;
      right: 17px;
      top: 17px;
      outline: none;
      border: unset;
      color: white;
      background: #2c8e1f;
      border-radius: 10px;
      transition: .4s; }
      .homeContent .priceInfo button:hover {
        background: #c23868; }
  .homeContent .discount .price {
    color: #c23868; }
  .homeContent .breakLine {
    width: 100%;
    height: 1px;
    background: #d0d0d0;
    margin-top: 30px;
    margin-bottom: 50px; }
  .homeContent .outOfStock .icon {
    width: 100%;
    height: 100%;
    z-index: 12;
    position: absolute;
    background: rgba(255, 255, 255, 0.73) !important; }
    .homeContent .outOfStock .icon .message {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      .homeContent .outOfStock .icon .message h3 {
        font-size: 24px;
        margin-top: 15px;
        color: #4e4e4e;
        font-weight: bold; }
  .homeContent .outOfStock .priceInfo {
    z-index: 0 !important; }
    .homeContent .outOfStock .priceInfo .price {
      color: #b7b7b7; }
      .homeContent .outOfStock .priceInfo .price span {
        color: #b7b7b7; }
    .homeContent .outOfStock .priceInfo button {
      background: #dbdbdb;
      cursor: unset; }
      .homeContent .outOfStock .priceInfo button:hover {
        transform: scale(1); }
      .homeContent .outOfStock .priceInfo button:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
  .homeContent .usefulInformations {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px; }
    .homeContent .usefulInformations h1 {
      font-weight: 400;
      font-size: 30px;
      margin-bottom: 30px; }
      .homeContent .usefulInformations h1 span {
        color: #db5d5f; }
    .homeContent .usefulInformations .divider {
      width: 100%;
      height: 8px;
      background: #d4d4d4;
      border-radius: 15px;
      margin-bottom: 42px; }
    .homeContent .usefulInformations .card1, .homeContent .usefulInformations .card2, .homeContent .usefulInformations .card3 {
      height: 172px; }
    .homeContent .usefulInformations .card1 {
      padding: 28px 35px; }
      .homeContent .usefulInformations .card1 .image {
        width: 35%;
        height: 100%;
        display: inline-block;
        position: relative; }
        .homeContent .usefulInformations .card1 .image img {
          top: 50%;
          left: 43%;
          position: absolute;
          transform: translate(-50%, -50%); }
        .homeContent .usefulInformations .card1 .image:after {
          content: "";
          display: block;
          width: 3px;
          height: 107px;
          border: 1px solid #efefef;
          border-radius: 10px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0, -50%); }
      .homeContent .usefulInformations .card1 .content {
        width: 58%;
        display: inline-block; }
        .homeContent .usefulInformations .card1 .content h4 {
          font-size: 15px;
          font-family: "Ral-SemiBold"; }
          .homeContent .usefulInformations .card1 .content h4 span {
            color: #db5d5f; }
        .homeContent .usefulInformations .card1 .content p, .homeContent .usefulInformations .card1 .content a {
          font-size: 12px;
          margin-bottom: 0;
          color: #4c4c4c;
          font-family: "Ral-Medium"; }
        .homeContent .usefulInformations .card1 .content a {
          color: #c23868;
          font-weight: 600;
          text-decoration: none; }
      @media (max-width: 992px) {
        .homeContent .usefulInformations .card1 {
          padding: 28px 25px; } }
      @media (max-width: 320px) {
        .homeContent .usefulInformations .card1 .content p, .homeContent .usefulInformations .card1 .content a {
          font-size: 10px; } }

.wider {
  width: 90px !important; }

.breadcrumbs {
  width: 100%;
  height: 60px;
  background: #932d51; }
  .breadcrumbs .pages {
    position: relative;
    margin-top: 15px; }
    .breadcrumbs .pages ul {
      padding: 0; }
      .breadcrumbs .pages ul li {
        display: inline-block;
        color: white;
        cursor: pointer;
        font-size: 18px;
        margin-left: 13px; }
        @media (max-width: 992px) {
          .breadcrumbs .pages ul li {
            font-size: 12px; } }
        .breadcrumbs .pages ul li img {
          position: relative;
          top: -2px;
          margin-right: 9px; }
  .breadcrumbs .previous ul {
    padding: 0;
    margin-top: 15px; }
    .breadcrumbs .previous ul li {
      display: inline-block;
      color: white;
      cursor: pointer;
      font-size: 18px; }
      @media (max-width: 992px) {
        .breadcrumbs .previous ul li {
          font-size: 12px; } }
      .breadcrumbs .previous ul li:hover img {
        margin-right: 15px; }
      .breadcrumbs .previous ul li img {
        transition: .4s;
        position: relative;
        top: -2px;
        margin-right: 10px; }
  @media (max-width: 992px) {
    .breadcrumbs {
      height: auto;
      text-align: center;
      padding: 1px 0; }
      .breadcrumbs .pages, .breadcrumbs .previous {
        float: unset !important; } }

.productContent {
  padding: 66px 0 142px 0;
  width: 100%;
  z-index: 0;
  position: relative;
  background: #f2f2f2; }
  .productContent .productDetail .cardWrapper .card1, .productContent .productDetail .cardWrapper .card2, .productContent .productDetail .cardWrapper .card3 {
    height: 100%; }
  .productContent .productDetail .cardWrapper .card1 {
    padding: 33px 30px; }
  .productContent .productDetail .cardWrapper .card2 {
    width: 98%; }
  .productContent .productDetail .cardWrapper .card3 {
    width: 97%; }
  .productContent .productDetail .cardWrapper .imagesWrapper {
    position: relative;
    margin-bottom: 23px; }
    .productContent .productDetail .cardWrapper .imagesWrapper .verticalLine {
      width: 1px;
      height: 323px;
      background: #e3e3e3;
      position: absolute;
      top: 0;
      left: calc(50% + 70px);
      transform: translate(-50%, 0); }
    .productContent .productDetail .cardWrapper .imagesWrapper .largeImage {
      width: 358px;
      height: 324px;
      border-radius: 10px;
      overflow: hidden;
      display: inline-block;
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      cursor: pointer;
      position: relative; }
      .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter {
        width: 100%;
        height: 100%;
        background: rgba(128, 128, 128, 0.24);
        position: absolute;
        left: 0;
        top: 0; }
        .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .oldPrice {
          width: 59px;
          height: 59px;
          border-radius: 50%;
          position: absolute;
          right: 10px;
          top: 10px;
          background: #c23868; }
          .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .oldPrice .content p {
            font-size: 18px;
            color: white;
            margin-top: 5px;
            text-align: center; }
            .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .oldPrice .content p strike {
              font-family: "Ral-Bold";
              position: relative;
              left: 2px; }
            .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .oldPrice .content p span {
              font-size: 12px;
              position: relative;
              font-family: "Ral-Bold";
              top: -8px; }
        .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .productBadge {
          position: absolute;
          top: 60px;
          right: 15px;
          text-align: center;
          padding: 12px;
          margin-bottom: 6px;
          height: 60px;
          width: 25px;
          transform: rotate(90deg); }
          .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .productBadge p {
            position: absolute;
            z-index: 11;
            top: 54%;
            font-weight: bold;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-90deg);
            font-size: 12px;
            color: white;
            font-family: "Myriad"; }
          .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .productBadge:after, .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .productBadge:before {
            content: '';
            position: absolute; }
          .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .productBadge:after {
            top: 0;
            left: 0;
            height: 100%;
            width: 51%;
            transform: skew(0deg, -15deg); }
          .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .productBadge:before {
            top: 0;
            right: 1px;
            height: 100%;
            width: 50%;
            transform: skew(0deg, 15deg); }
        .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .sale:after, .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .sale:before {
          background: #e28123; }
        .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .new:after, .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .new:before {
          background: #573ea6; }
        .productContent .productDetail .cardWrapper .imagesWrapper .largeImage .filter .txt {
          position: absolute;
          width: 100%;
          font-size: 18px;
          text-shadow: 0 0 10px white;
          text-align: center;
          font-weight: 600;
          bottom: -10px;
          left: 50%;
          transform: translate(-50%); }
    .productContent .productDetail .cardWrapper .imagesWrapper .allImages {
      display: inline-block;
      position: absolute; }
      .productContent .productDetail .cardWrapper .imagesWrapper .allImages ul {
        text-align: center;
        margin-left: 25px; }
        .productContent .productDetail .cardWrapper .imagesWrapper .allImages ul li {
          display: inline-block;
          padding: 3px; }
          .productContent .productDetail .cardWrapper .imagesWrapper .allImages ul li .image {
            width: 98px;
            height: 98px;
            border-radius: 10px;
            overflow: hidden;
            background-size: contain !important;
            background-position: center !important;
            background-repeat: no-repeat !important; }
    @media (max-width: 1210px) {
      .productContent .productDetail .cardWrapper .imagesWrapper .verticalLine {
        display: none; }
      .productContent .productDetail .cardWrapper .imagesWrapper .largeImage {
        width: 100%; }
      .productContent .productDetail .cardWrapper .imagesWrapper .allImages {
        position: static; }
        .productContent .productDetail .cardWrapper .imagesWrapper .allImages ul {
          margin-top: 23px;
          margin-left: 0;
          padding: 0;
          text-align: left; } }
    @media (max-width: 520px) {
      .productContent .productDetail .cardWrapper .imagesWrapper .allImages ul {
        text-align: center; } }
    @media (max-width: 320px) {
      .productContent .productDetail .cardWrapper .imagesWrapper .allImages ul li .image {
        width: 89px; } }
  .productContent .productDetail .cardWrapper .horizontalLine {
    width: 100%;
    height: 1px;
    background: #e3e3e3; }
  .productContent .productDetail .cardWrapper .category {
    padding: 20px 0 10px 0; }
    .productContent .productDetail .cardWrapper .category h1 {
      font-size: 32px;
      font-family: "Ral-SemiBold";
      color: #454545; }
    .productContent .productDetail .cardWrapper .category p {
      font-size: 14px;
      color: #4f4f4f;
      font-family: "Ral-Medium"; }
      .productContent .productDetail .cardWrapper .category p a {
        text-decoration: underline;
        color: #c23868; }
  .productContent .productDetail .cardWrapper .tab .description {
    padding: 20px 0 10px 0; }
    .productContent .productDetail .cardWrapper .tab .description .heading h4 {
      font-size: 16px;
      font-family: "Ral-Bold";
      color: #454545; }
    .productContent .productDetail .cardWrapper .tab .description .heading .plus {
      cursor: pointer; }
      .productContent .productDetail .cardWrapper .tab .description .heading .plus img {
        position: relative;
        top: -2px; }
    .productContent .productDetail .cardWrapper .tab .description .content {
      transition: .4s;
      height: 55px;
      overflow: hidden;
      position: relative; }
      .productContent .productDetail .cardWrapper .tab .description .content .filter {
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%); }
      .productContent .productDetail .cardWrapper .tab .description .content p {
        font-size: 14px;
        color: #454545;
        font-weight: 500;
        margin-top: 5px; }
    .productContent .productDetail .cardWrapper .tab .description .myCollapse {
      height: auto;
      transition: .4s; }
      .productContent .productDetail .cardWrapper .tab .description .myCollapse .filter {
        background: unset;
        z-index: -1; }
  .productContent .productDetail .cardWrapper .quantity {
    margin-top: 19px; }
    .productContent .productDetail .cardWrapper .quantity label {
      font-weight: 700;
      display: block; }
    .productContent .productDetail .cardWrapper .quantity input[type=number]::-webkit-inner-spin-button,
    .productContent .productDetail .cardWrapper .quantity input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .productContent .productDetail .cardWrapper .quantity input {
      width: 100%;
      height: 44px;
      padding: 5px;
      border: 1px solid #e4e1e1;
      outline: none; }
    .productContent .productDetail .cardWrapper .quantity .arrows {
      position: absolute;
      right: 14px;
      top: 32px;
      background: white;
      width: 47px;
      height: 44px;
      border: 1px solid #e4e1e1; }
      .productContent .productDetail .cardWrapper .quantity .arrows .icons {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .productContent .productDetail .cardWrapper .quantity .arrows .icons .up, .productContent .productDetail .cardWrapper .quantity .arrows .icons .down {
          position: relative;
          cursor: pointer;
          transition: .4s; }
        .productContent .productDetail .cardWrapper .quantity .arrows .icons .up {
          top: 5px; }
        .productContent .productDetail .cardWrapper .quantity .arrows .icons .down {
          top: -4px; }
    .productContent .productDetail .cardWrapper .quantity .socialList {
      padding: 0;
      margin-top: 38px;
      position: relative; }
      .productContent .productDetail .cardWrapper .quantity .socialList li {
        display: inline-block;
        margin-left: 3px; }
        .productContent .productDetail .cardWrapper .quantity .socialList li:first-child {
          margin-right: 17px; }
      @media (max-width: 992px) {
        .productContent .productDetail .cardWrapper .quantity .socialList {
          text-align: center; }
          .productContent .productDetail .cardWrapper .quantity .socialList li:first-child {
            margin-right: 0; } }
    .productContent .productDetail .cardWrapper .quantity .price {
      margin-top: 23px; }
      .productContent .productDetail .cardWrapper .quantity .price h1 {
        display: inline-block;
        font-size: 50px;
        font-family: "Ral-Medium"; }
        .productContent .productDetail .cardWrapper .quantity .price h1 myStrike:after {
          content: "";
          display: block;
          height: 1px;
          width: 65%;
          background: #b5b5b5;
          position: absolute;
          top: 33px;
          left: 3px; }
        .productContent .productDetail .cardWrapper .quantity .price h1 span {
          font-size: 14px;
          position: relative;
          top: -8px;
          font-weight: 400; }
      .productContent .productDetail .cardWrapper .quantity .price .old {
        color: #b5b5b5;
        position: relative;
        width: 100%;
        text-align: center; }
        .productContent .productDetail .cardWrapper .quantity .price .old:after {
          content: "";
          display: block;
          width: 1px;
          height: 71px;
          background: #e4e1e1;
          position: absolute;
          right: 0;
          top: 0; }
        .productContent .productDetail .cardWrapper .quantity .price .old span {
          color: #b5b5b5; }
        @media (max-width: 320px) {
          .productContent .productDetail .cardWrapper .quantity .price .old {
            font-size: 41px; }
            .productContent .productDetail .cardWrapper .quantity .price .old:after {
              height: 100%;
              right: -10px; } }
      .productContent .productDetail .cardWrapper .quantity .price .current {
        width: 100%;
        text-align: center;
        position: relative;
        color: #c23868;
        font-size: 50px; }
        .productContent .productDetail .cardWrapper .quantity .price .current:after {
          content: "";
          display: block;
          width: 1px;
          height: 71px;
          background: #e4e1e1;
          position: absolute;
          right: 0;
          top: 0; }
        .productContent .productDetail .cardWrapper .quantity .price .current span {
          color: #b5b5b5; }
        @media (max-width: 320px) {
          .productContent .productDetail .cardWrapper .quantity .price .current {
            font-size: 41px; }
            .productContent .productDetail .cardWrapper .quantity .price .current:after {
              height: 0; } }
    .productContent .productDetail .cardWrapper .quantity .cartBtn .addToCart {
      width: 241px;
      margin-top: 23px;
      height: 72px;
      background: #2c8e1f;
      outline: none;
      border: unset;
      cursor: pointer;
      font-size: 32px;
      color: white;
      transition: .4s;
      border-radius: 10px; }
      .productContent .productDetail .cardWrapper .quantity .cartBtn .addToCart:hover {
        transform: scale(1.05); }
    @media (max-width: 992px) {
      .productContent .productDetail .cardWrapper .quantity .cartBtn {
        text-align: center; }
        .productContent .productDetail .cardWrapper .quantity .cartBtn .addToCart {
          width: unset;
          height: unset;
          padding: 5px 20px;
          font-size: 20px; } }
  .productContent .noselect {
    user-select: none; }
  .productContent .products {
    margin-bottom: 40px; }
    .productContent .products .lineBreak {
      margin-top: 34px;
      margin-bottom: 14px;
      width: 100%;
      height: 4px;
      background: #dddddd; }
    .productContent .products h1 {
      font-size: 32px;
      color: #454545;
      font-family: "Ral-SemiBold"; }
      .productContent .products h1 span {
        color: #f06060; }
    .productContent .products .productList {
      padding: 0;
      margin-bottom: 30px; }
      .productContent .products .productList li {
        position: relative;
        cursor: pointer; }
        .productContent .products .productList li:after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: #3d3d3d;
          margin: 14px 0 14px 0; }
        .productContent .products .productList li .image {
          display: inline-block;
          margin-right: 19px; }
        .productContent .products .productList li .text {
          position: absolute;
          width: 39%;
          display: inline-block;
          padding-top: 10px; }
          .productContent .products .productList li .text h5 {
            color: #808080;
            font-size: 16px; }
          .productContent .products .productList li .text p {
            font-size: 14px;
            color: #808080; }
          .productContent .products .productList li .text:after {
            content: "";
            display: block;
            width: 1px;
            height: 68px;
            background: #3d3d3d;
            position: absolute;
            top: 46%;
            right: -20px;
            transform: translate(0, -50%); }
        .productContent .products .productList li .price {
          display: inline-block;
          position: absolute;
          right: 20px;
          top: 5px; }
          @media (max-width: 1200px) and (min-width: 992px) {
            .productContent .products .productList li .price {
              right: 0; } }
          @media (max-width: 992px) and (min-width: 321px) {
            .productContent .products .productList li .price {
              right: 20px; } }
          @media (max-width: 320px) {
            .productContent .products .productList li .price {
              right: 0; } }
          .productContent .products .productList li .price p {
            text-align: center;
            color: #999999;
            font-family: "Ral-Bold";
            font-size: 14px; }
            .productContent .products .productList li .price p span {
              color: #c23868;
              font-size: 32px;
              font-family: "Ral-Bold"; }
    .productContent .products .searchForm {
      margin-top: 30px;
      margin-bottom: 30px;
      position: relative; }
      .productContent .products .searchForm input {
        position: relative;
        width: 75%;
        height: 48px;
        outline: none;
        border-radius: 10px;
        padding: 17px 17px;
        border: 1px solid #e4e1e1; }
      .productContent .products .searchForm button {
        width: 98px;
        height: 48px;
        font-size: 18px;
        font-weight: 500;
        color: white;
        font-weight: 400;
        border: unset;
        background: #2c8e1f;
        border-radius: 10px;
        outline: none;
        position: absolute;
        right: 5px; }
    .productContent .products .tags {
      padding: 0; }
      .productContent .products .tags li {
        cursor: pointer;
        padding: 10px 18px;
        margin: 0 3px 8px 0;
        border-radius: 10px;
        background: white;
        display: inline-block;
        text-align: center;
        font-size: 16px;
        color: #6c6c6c; }
        @media (max-width: 992px) {
          .productContent .products .tags li {
            padding: 10px 40px; } }
  .productContent .similiarProducts {
    margin-top: 70px; }
    @media (max-width: 992px) {
      .productContent .similiarProducts {
        margin-top: 0; } }
    .productContent .similiarProducts .homeContent {
      padding: 0;
      margin-top: 35px; }
    .productContent .similiarProducts .cardWrapper {
      position: relative; }
      .productContent .similiarProducts .cardWrapper .card1 {
        width: 100%;
        border-radius: 15px;
        z-index: 10; }
        .productContent .similiarProducts .cardWrapper .card1:hover {
          box-shadow: 0 0 30px rgba(187, 187, 187, 0.59); }
      .productContent .similiarProducts .cardWrapper .card2 {
        width: 94%;
        border-radius: 15px;
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translate(-50%, 0); }
      .productContent .similiarProducts .cardWrapper .card3 {
        width: 90%;
        border-radius: 15px;
        position: absolute;
        z-index: -2;
        left: 50%;
        transform: translate(-50%, 0); }
      .productContent .similiarProducts .cardWrapper .card1, .productContent .similiarProducts .cardWrapper .card2, .productContent .similiarProducts .cardWrapper .card3 {
        border: 1px solid #e7e7e7;
        background: white;
        overflow: hidden;
        transition: .4s;
        height: 313px; }
    .productContent .similiarProducts .lineBreak {
      margin-top: 34px;
      margin-bottom: 14px;
      width: 100%;
      height: 6px;
      border-radius: 10px;
      background: #dddddd; }
    .productContent .similiarProducts h1 {
      font-size: 32px;
      color: #454545;
      font-family: "Ral-SemiBold"; }
      .productContent .similiarProducts h1 span {
        color: #f06060; }

.previewImage {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.61);
  visibility: hidden;
  transition: .4s;
  opacity: 0;
  z-index: 7777; }
  .previewImage .closeDiv {
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 50px; }
    .previewImage .closeDiv:hover img {
      transform: translate(-50%, -50%) rotate(180deg); }
    .previewImage .closeDiv img {
      width: 50px;
      transition: .4s; }
  .previewImage img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 992px) {
      .previewImage img {
        width: 100%; } }
    @media (max-height: 500px) {
      .previewImage img {
        width: 50%; } }

.cartContent {
  padding: 66px 0 66px 0;
  width: 100%;
  z-index: 0;
  position: relative;
  background: #f2f2f2;
  padding-bottom: 150px; }
  .cartContent .cardWrapper {
    margin-bottom: 45px; }
    .cartContent .cardWrapper .table-responsive {
      margin-bottom: -17px; }
      @media (max-width: 992px) {
        .cartContent .cardWrapper .table-responsive {
          margin-bottom: 0; } }
    .cartContent .cardWrapper .card1, .cartContent .cardWrapper .card2, .cartContent .cardWrapper .card3 {
      height: 100%; }
    .cartContent .cardWrapper .card2 {
      width: 99%; }
    .cartContent .cardWrapper .card3 {
      width: 98%; }
  .cartContent .cartTable td, .cartContent .cartTable th {
    border-top: unset;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3; }
    .cartContent .cartTable td:nth-child(5n), .cartContent .cartTable th:nth-child(5n) {
      border-right: unset; }
  .cartContent .cartTable th {
    text-transform: uppercase;
    font-family: "Ral-ExBold";
    color: #484848;
    text-align: center; }
    .cartContent .cartTable th:nth-child(2) {
      text-align: left; }
  .cartContent .cartTable tr td {
    text-align: center;
    display: table-cell;
    vertical-align: middle; }
    .cartContent .cartTable tr td:nth-child(1) {
      width: 80px; }
      .cartContent .cartTable tr td:nth-child(1) .removeDiv {
        cursor: pointer; }
    .cartContent .cartTable tr td:nth-child(3) {
      width: 135px; }
      .cartContent .cartTable tr td:nth-child(3) input {
        width: 43px;
        font-weight: bold;
        font-size: 14px;
        color: #696969;
        height: 34px;
        text-align: center;
        border: 1px solid #e4e1e1;
        outline: none;
        border-radius: 3px; }
    .cartContent .cartTable tr td:nth-child(2) {
      width: 340px;
      text-align: left;
      font-size: 14px; }
    .cartContent .cartTable tr td:nth-child(4) {
      width: 242px;
      color: #696969; }
    .cartContent .cartTable tr td:nth-child(5) {
      color: #1a1a1a; }
    .cartContent .cartTable tr td:nth-child(4), .cartContent .cartTable tr td:nth-child(5) {
      font-size: 14px;
      font-family: "Open Sans", sans-serif; }
      .cartContent .cartTable tr td:nth-child(4) span, .cartContent .cartTable tr td:nth-child(5) span {
        font-family: "Open Sans", sans-serif; }
  .cartContent .discount {
    width: 100%;
    height: auto;
    border: 1px solid #e7e7e7;
    background: white;
    border-radius: 10px;
    padding: 30px 30px;
    font-family: "Ral-Medium";
    margin-bottom: 26px; }
    .cartContent .discount h1 {
      color: #932d51;
      font-size: 18px; }
    .cartContent .discount p {
      font-size: 14px;
      color: #838383;
      font-family: "Ral-Medium";
      margin-bottom: 22px; }
    .cartContent .discount input {
      width: 100%;
      height: 34px;
      border-radius: 3px;
      border: 2px solid #e4e1e1;
      outline: none;
      padding: 0 10px;
      margin-bottom: 23px; }
    .cartContent .discount button {
      width: 111px;
      height: 34px;
      background: #2c8e1f;
      outline: none;
      border-radius: 7px;
      color: white;
      font-size: 14px;
      border: unset;
      cursor: pointer;
      font-family: "Ral-SemiBold"; }
  .cartContent .cartTotal {
    padding: 0;
    overflow: hidden; }
    .cartContent .cartTotal .table-responsive {
      margin-bottom: -17px; }
    .cartContent .cartTotal .totalTable td, .cartContent .cartTotal .totalTable th {
      border-top: unset;
      border-right: 1px solid #e3e3e3;
      border-bottom: 1px solid #e3e3e3; }
    .cartContent .cartTotal .totalTable td {
      color: #932d51;
      font-family: "Ral-Medium";
      text-align: center;
      padding: 25px; }
      .cartContent .cartTotal .totalTable td:nth-child(2n) {
        border-right: unset;
        color: #303030;
        font-family: "Open Sans", sans-serif; }
  .cartContent .buttonList {
    padding: 0;
    margin-top: 29px; }
    .cartContent .buttonList li {
      display: inline-block;
      margin-left: 12px;
      margin-bottom: 12px; }
      .cartContent .buttonList li button {
        width: 158px;
        height: 49px;
        border-radius: 7px;
        border: unset;
        background: #3f4044;
        color: white;
        outline: none;
        font-size: 18px;
        font-family: "Ral-Medium";
        transition: .4s;
        cursor: pointer; }
        .cartContent .buttonList li button:hover {
          transform: scale(1.05); }
      .cartContent .buttonList li:last-child button {
        background: #e62367; }
    @media (max-width: 520px) {
      .cartContent .buttonList {
        margin-top: 0; }
        .cartContent .buttonList li button {
          width: unset;
          height: unset;
          padding: 5px 20px;
          font-size: 14px; } }

.footer {
  width: 100%;
  background: #2f2f2f;
  padding: 140px 0 55px 0;
  position: relative;
  z-index: 222; }
  .footer .search {
    width: 50%;
    height: 140px;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translate(-50%, 0); }
    .footer .search .cardWrapper {
      position: relative; }
      .footer .search .cardWrapper .card1 {
        width: 100%;
        border-radius: 15px;
        z-index: 10;
        padding: 40px 23px 40px 23px; }
        .footer .search .cardWrapper .card1 .content {
          position: absolute;
          top: 50%;
          width: 100%;
          left: 0;
          text-align: center;
          transform: translate(0, -50%); }
          .footer .search .cardWrapper .card1 .content input {
            width: 73%;
            border-radius: 15px;
            border: 1px solid #e4e1e1;
            padding: 20px 20px;
            height: 51px;
            outline: none;
            margin-right: 20px; }
          .footer .search .cardWrapper .card1 .content button {
            width: 185px;
            height: 56px;
            cursor: pointer;
            outline: none;
            color: white;
            border: unset;
            border-radius: 9px;
            background: #2c8e1f;
            transition: .4s; }
            .footer .search .cardWrapper .card1 .content button:hover {
              transform: scale(1.05); }
      .footer .search .cardWrapper .card2 {
        width: 99%;
        border-radius: 15px;
        position: absolute;
        top: -5px;
        z-index: -1;
        left: 50%;
        transform: translate(-50%, 0); }
      .footer .search .cardWrapper .card3 {
        width: 98%;
        border-radius: 15px;
        position: absolute;
        top: -10px;
        z-index: -2;
        left: 50%;
        transform: translate(-50%, 0); }
      .footer .search .cardWrapper .card1, .footer .search .cardWrapper .card2, .footer .search .cardWrapper .card3 {
        border: 1px solid #e7e7e7;
        background: white;
        overflow: hidden;
        transition: .4s;
        margin-bottom: 20px;
        height: 140px; }
    @media (max-width: 1560px) {
      .footer .search {
        width: 80%; } }
    @media (max-width: 992px) {
      .footer .search {
        width: 90%; }
        .footer .search .card1 .content input {
          width: 90% !important;
          font-size: 10px;
          margin-right: unset !important; }
        .footer .search .card1 .content button {
          font-size: 10px;
          padding: 10px;
          margin-top: 10px;
          height: unset !important; } }
  .footer h1 {
    font-size: 32px;
    color: white;
    margin-bottom: 30px; }
  .footer .lineBreak {
    width: 100%;
    height: 3px;
    background: #3b3b3b; }
  .footer ul {
    padding: 0; }
  .footer .shopmint {
    margin-bottom: 40px; }
    .footer .shopmint .lineBreak {
      margin-bottom: 30px; }
    .footer .shopmint p {
      font-size: 14px;
      color: white;
      font-family: "Ral-Regular"; }
    .footer .shopmint .text {
      margin-bottom: 34px; }
    .footer .shopmint ul li:last-child p {
      font-weight: 300; }
  .footer .products {
    margin-bottom: 40px; }
    .footer .products .lineBreak {
      margin-bottom: 14px; }
    .footer .products h1 span {
      color: #f06060; }
    .footer .products ul li {
      position: relative;
      cursor: pointer; }
      .footer .products ul li:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: #3d3d3d;
        margin: 14px 0 14px 0; }
      .footer .products ul li .image {
        display: inline-block;
        margin-right: 19px; }
      .footer .products ul li .text {
        position: absolute;
        width: 39%;
        display: inline-block;
        padding-top: 10px; }
        .footer .products ul li .text h5, .footer .products ul li .text p {
          color: white; }
        .footer .products ul li .text h5 {
          font-size: 16px;
          font-family: "Ral-Regular"; }
        .footer .products ul li .text p {
          font-size: 14px;
          color: #808080; }
        .footer .products ul li .text:after {
          content: "";
          display: block;
          width: 1px;
          height: 68px;
          background: #3d3d3d;
          position: absolute;
          top: 46%;
          right: -20px;
          transform: translate(0, -50%); }
      .footer .products ul li .price {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 5px; }
        .footer .products ul li .price p {
          text-align: center;
          font-size: 14px;
          color: white;
          font-family: "Ral-Regular"; }
          .footer .products ul li .price p span {
            color: #c23868;
            font-family: "Ral-Regular";
            font-size: 32px; }
  .footer .copyright {
    width: 100%;
    padding: 19px 0 0 0;
    background: #262626;
    position: absolute;
    bottom: 0; }
    .footer .copyright p {
      display: block;
      font-size: 12px;
      color: #a0a0a0; }
      .footer .copyright p span {
        color: #c23868; }
