$font: 'Raleway', sans-serif;

$topBarColor: #932d51;
$cartCounterColor: #c23868;

$productPhotoFilter: rgba(128, 128, 128, 0.24);

@font-face {
  font-family: "Myriad";
  src: url("../fonts/Myriad Pro Regular.ttf");
}

$font2: "Myriad";

@font-face {
  font-family: "Ral-Bold";
  src: url("../fonts/Raleway-Bold_0.ttf");
}

@font-face {
  font-family: "Ral-ExBold";
  src: url("../fonts/Raleway-ExtraBold_0.ttf");
}

@font-face {
  font-family: "Ral-ExLight";
  src: url("../fonts/Raleway-ExtraLight_0.ttf");
}

@font-face {
  font-family: "Ral-Heavy";
  src: url("../fonts/Raleway-Heavy_0.ttf");
}

@font-face {
  font-family: "Ral-Light";
  src: url("../fonts/Raleway-Light_0.ttf");
}

@font-face {
  font-family: "Ral-Medium";
  src: url("../fonts/Raleway-Medium_0.ttf");
}

@font-face {
  font-family: "Ral-Regular";
  src: url("../fonts/Raleway-Regular_0.ttf");
}

@font-face {
  font-family: "Ral-SemiBold";
  src: url("../fonts/Raleway-SemiBold_0.ttf");
}

@font-face {
  font-family: "Ral-Thin";
  src: url("../fonts/Raleway-Thin_0.ttf");
}

$ralThin: "Ral-Thin";
$ralExLight: "Ral-ExLight";
$ralLight: "Ral-Light";
$ralMedium: "Ral-Medium";
$ralRegular: "Ral-Regular";
$ralBold: "Ral-Bold";
$ralSemiBold: "Ral-SemiBold";
$ralExBold: "Ral-ExBold";
$ralHeavy: "Ral-Heavy";

$openSansBold: 'Open Sans', sans-serif;