@import "external";

html, body {
  margin: 0;
  position: relative;
}

ul {
  list-style: none;
}

* {
  font-family: $font;
}

*::selection {
  background: $cartCounterColor;
  color: white;
}

*::-moz-selection {
  background: $cartCounterColor;
  color: white;
}

// Header
.topBar {
  width: 100%;
  height: 42px;
  background: $topBarColor;
  position: relative;
  .leftNav {
    ul {
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      li {
        display: inline-block;
        padding: 0 12px;
        img {
          margin-right: 2px;
        }
        span {
          color: white;
          cursor: pointer;
          font-size: 12px;
        }
      }
    }
  }
  .rightContent {
    ul {
      padding: 0;
      li {
        display: inline-block;
        padding: 12px 2px;
        position: relative;
        font-size: 12px;
        &:last-child {
          padding: 12px 14px;
        }
        span {
          color: white;
        }
        select {
          border: unset;
          color: white;
          background: transparent;
          outline: none;
          option {
            background: $topBarColor;
          }
        }
        .profilePhoto {
          width: 30px;
          height: 30px;
          position: absolute;
          right: -25px;
          top: 5px;
          display: inline-block;
          border-radius: 50%;
          background-size: 45px;
          background-position: -8px 57px;
          background-image: url('../img/profilePhoto.png');
        }
      }
    }
  }
  @media (max-width: 992px) {
    height: auto;
    text-align: center;
    .leftNav {
      float: unset !important;
      ul {
        padding: 0;
        position: static;
        transform: translate(0, 0);
        li {
          padding: 0 2px;
        }
      }
    }
    .rightContent {
      float: unset !important;
    }
  }
}

.header {
  padding: 30px 0;
  border-bottom: 2px solid #f2f2f2;
  background: white;
  .logoDiv {
    cursor: pointer;
  }
  .cart {
    margin-top: 20px;
    .cartIcon {
      position: relative;
      width: 30px;
      display: inline-block;
      cursor: pointer;
      .counter {
        width: 27px;
        font-size: 12px;
        position: absolute;
        height: 27px;
        border-radius: 50%;
        font-family: $ralBold;
        background: $cartCounterColor;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        top: -16px;
        left: 23px;
      }
    }
    h3 {
      display: inline-block;
      position: relative;
      top: 3px;
      margin-left: 20px;
      font-family: $ralMedium;
      font-size: 20px;
    }
  }
  @media (max-width: 992px) {
    text-align: center;
    .cart {
      float: unset !important;
    }
  }
}

.links {
  text-align: center;
  background: white;
  height: auto;
  .mainMenu {
    background: white;
    margin: 0;
    border-bottom: 1px solid #f5f5f5;
    .sub {
      &:hover {
        .caret {
          transform: rotate(0);
        }
        .submenu {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    li {
      padding: 20px 15px 20px 17px;
      font-size: 14px;
      font-family: $ralMedium;
      display: inline-block;
      cursor: pointer;
      position: relative;
      .loup {
        cursor: pointer;
      }
      .caret {
        margin-left: 5px;
        transform: rotate(-90deg);
        transition: .4s;
      }
      .submenu {
        background: #f06060;
        padding: 0;
        position: absolute;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 10px grey;
        width: 100%;
        z-index: 1;
        transition: 1s;
        visibility: hidden;
        opacity: 0;
        top: 63px;
        left: 0;
        li {
          display: block;
          padding: 12px 10px;
          text-align: left;
          color: white;
          transition: .4s;
          border-bottom: 1px solid #b63b3b;
          &:hover {
            background: #ff7979;
          }
          &:last-child {
            border-bottom: unset;
            &:after {
              width: 0 !important;
            }
          }
          &:after {
            width: 100% !important;
            background: #ff7979;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background: $cartCounterColor;
        transition: .4s;
        margin: auto;
      }
      &:last-child {
        padding: 0 55px;
        &:after {
          width: 0 !important;
        }
      }
      @media (max-width: 1280px) {
        padding: 20px 0 20px 8px;
      }
    }
  }
  .burgerParent {
    width: 40px;
    margin: auto;
    padding-top: 22px;
    height: 70px;
    display: none;
    position: relative;
    cursor: pointer;
    z-index: 8888;
    .burger {
      position: absolute;
      width: 100%;
      height: 100%;
      .burger1, .burger2, .burger3 {
        width: 100%;
        height: 2px;
        transition: .4s;
        position: absolute;
        background: $topBarColor;
      }
      .burger2 {
        top: 10px;
      }
      .burger3 {
        top: 19px;
      }
    }
  }

  @media (max-width: 992px) {
    display: block;
    border-bottom: 1px solid #f5f5f5;
    .burgerParent {
      display: block;
    }
    .mainMenu {
      display: none;
    }
  }
}

.mobileMenu {
  width: 100%;
  height: 100vh;
  background: rgb(147, 45, 81);
  position: fixed;
  z-index: 555;
  left: -100%;
  transition: .7s;
  top: 0;
  .mobileList {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    li {
      font-size: 22px;
      margin-top: 5px;
      color: white;
      .caret {
        transform: rotate(-90deg);
        transition: .4s;
      }
      .submenu {
        display: none;
      }
    }
    @media (max-height: 460px) {
      transform: translate(0, 0);
      top: 0;
    }
  }
}

.showSubmenu {
  display: block !important;
  margin: 20px 0 20px 0;
}

.caretDirection {
  transform: rotate(0) !important;
}

.activeMobileLink {
  font-weight: bold;
  &:after {
    background: white;
    width: 65px !important;
    content: "";
    display: block;
    height: 1px;
  }
}

.activeSub {
  transform: translate(0, 0) !important;
  top: 0 !important;
}

.activeLink {
  color: $cartCounterColor;
  font-weight: bold;
  &:after {
    width: 100% !important;
  }
}

/////////

// Sticky social

.stickySocial {
  width: 60px;
  height: 276px;
  background: white;
  border-radius: 8px;
  position: fixed;
  box-shadow: 6px -1px 10px #cccccc;
  top: 50%;
  left: -5px;
  transform: translate(0, -50%);
  padding: 7px 7px;
  z-index: 111;
  ul {
    padding: 0;
    position: absolute;
    top: 6px;
    left: 11px;
    li {
      padding: 3px 0;
      margin-left: 3px;
    }
  }
  @media (max-width: 992px) {
    display: none;
  }
}

// Slider
.slider {
  width: 100%;
  height: 70vh;
  background: #e6e6e6;
  position: relative;
  overflow: hidden;
  .points {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 77;
    ul {
      padding: 0;
      li {
        padding-bottom: 17px;
        cursor: pointer;
        .point {
          width: 10px;
          height: 10px;
          background: #c4c4c4;
          border-radius: 50%;
          margin: 0 auto;
        }
        .activePoint {
          width: 15px;
          height: 15px;
          background: #2c8e1f;
          position: relative;
          &:after {
            content: "";
            display: block;
            width: 25px;
            height: 25px;
            position: absolute;
            border-radius: 50%;
            background: #a5c7a0;
            z-index: -1;
            top: -5px;
            left: -5px;
          }
        }
      }
    }
  }
  .image {
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform .4s;
    position: absolute;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    .badges {
      width: 100%;
      height: 50%;
      margin: 0 auto;
      padding: 0;
      position: relative;
      text-align: center;
      top: 50%;
      transform: translate(0, -50%);
      .largeBox {
        position: relative;
        top: 150px;
      }
      li {
        position: relative;
        text-align: center;
        display: inline-block;
        margin: 0 100px;
        .content {
          width: 100%;
        }
        .freeDelivery {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          background: white;
          .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            p {
              color: #c9ae7f;
              margin-bottom: 0;
            }
            h1 {
              font-family: $ralHeavy;
              color: #c23868;
              font-size: 48px;
              span {
                font-family: $ralHeavy;
                font-size: 24px;
                @media (max-width: 1490px) {
                  font-size: 18px;
                }
              }
            }
          }
          &:before {
            content: "";
            display: block;
            width: 160px;
            height: 160px;
            position: absolute;
            background: rgba(128, 128, 128, 0.18);
            z-index: -1;
            border-radius: 50%;
            top: -15px;
            left: -10px;
          }
        }
        .greatSale1 {
          width: 250px;
          height: 250px;
          border-radius: 50%;
          background: #2c8e1f;
          .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            p {
              color: white;
              margin-bottom: 0;
              font-size: 19px;
              font-family: $ralLight;
            }
            h1 {
              font-family: $ralBold;
              font-size: 55px;
              width: 100%;
              margin: auto;
              text-align: center;
              color: white;
            }
          }
          &:before {
            content: "";
            display: block;
            width: 255px;
            height: 255px;
            position: absolute;
            background: rgba(128, 128, 128, 0.18);
            z-index: -1;
            border-radius: 50%;
            top: -15px;
            left: -10px;
          }
        }
        .greatSale2 {
          .content {
            .box1 {
              width: 370px;
              padding: 5px 50px;
              background: #f06060;
              border-radius: 5px;
              text-align: center;
              &:after {
                content: "";
                display: block;
                width: 390px;
                border-radius: 5px;
                position: absolute;
                height: 95px;
                z-index: -1;
                background: rgba(128, 128, 128, 0.17);
                top: -9px;
                left: -10px;
              }
              h1 {
                color: white;
                font-size: 50px;
                font-weight: bold;
              }
            }
            .box2 {
              background: #353535;
              margin-top: 35px;
              position: relative;
              h2 {
                color: white;
                font-weight: 200;
              }
            }
          }
        }
      }
      @media (max-width: 1490px) {
        li {
          .freeDelivery {
            width: 130px;
            height: 130px;
            &:before {
              width: 140px;
              height: 140px;
            }
          }
          .greatSale2 {
            position: relative;
            top: -40px;
          }
          .greatSale1 {
            width: 150px;
            height: 150px;
            .content {
              h1 {
                font-size: 36px;
              }
              p {
                font-size: 15px;
              }
            }
            &:before {
              width: 160px;
              height: 160px;
            }
          }
        }
      }
      @media (max-width: 1300px) {
        li {
          margin: 0 65px;
        }
      }
      @media (max-width: 1160px) {
        position: absolute;
        bottom: -40px;
        top: unset;
        transform: translate(0, 0);
        .largeBox {
          top: 50px;
        }
        li {
          margin: 0 20px;
          .greatSale1 {
            width: 150px;
            height: 150px;
            .content {
              h1 {
                font-size: 22px;
              }
              p {
                font-size: 14x;
                margin-top: 5px;
              }
            }
            &:before {
              width: 160px;
              height: 160px;
            }
          }
          .greatSale2 {
            .content {
              .box1 {
                width: 105px;
                height: 25px;
                padding: 0;
                &:after {
                  width: 125px;
                  height: 43px;
                }
                h1 {
                  margin: 0 auto;
                  font-size: 18px;
                  width: 100px;
                }
              }
              .box2 {
                h2 {
                  font-size: 12px;
                  padding-top: 4px;
                }
              }
            }
          }
          .freeDelivery {
            width: 60px;
            height: 60px;
            .content {
              h1 {
                font-size: 16px;
              }
              p {
                font-size: 11px;
              }
            }
            &:before {
              width: 65px;
              height: 65px;
              top: -8px;
              left: -7px;
            }
          }
        }
      }
      @media (max-width: 992px) {
        bottom: -70px;
        li {
          .greatSale1 {
            width: 80px;
            height: 80px;
            .content {
              h1 {
                font-size: 14px;
              }
              p {
                font-size: 9px;
                margin-top: 5px;
              }
            }
            &:before {
              width: 90px;
              height: 90px;
            }
          }
        }
      }
      @media (max-width: 340px) {
        bottom: -40px;
        li {
          margin: 0 10px;
        }
      }
      @media (max-height: 780px) {
        height: 50%;
      }
      @media (max-width: 992px) and (max-height: 500px) {
        bottom: 20px;
      }
    }
  }
  .activeImage {
    transform: translateX(0);
  }
}

//////

// Home content
.cardWrapper {
  position: relative;
  .card1 {
    width: 100%;
    border-radius: 15px;
    z-index: 10;
  }
  .card2 {
    width: 94%;
    border-radius: 15px;
    position: absolute;
    top: 4px;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .card3 {
    width: 90%;
    border-radius: 15px;
    position: absolute;
    top: 8px;
    z-index: -2;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .card1, .card2, .card3 {
    border: 1px solid #e7e7e7;
    background: white;
    overflow: hidden;
    transition: .4s;
    margin-bottom: 20px;
    height: 313px;
  }
}

.homeContent {
  padding: 100px 0;
  .tabs {
    padding: 0;
    margin-bottom: 33px;
    li {
      display: inline-block;
      padding: 15px;
      font-size: 32px;
      font-family: $ralMedium;
      position: relative;
      color: #414141;
      cursor: pointer;
      &:first-child {
        &:after {
          left: 15px;
          border-radius: 10px 0 0 10px;
        }
      }
      &:last-child {
        &:after {
          border-radius: 0 10px 10px 0;
          width: 220%;
        }
        @media (max-width: 992px) {
          &:after {
            width: 100%;
          }
        }
      }
      @media (max-width: 992px) {
        &:after {
          left: 0 !important;
        }
      }
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 7px;
        background: #d4d4d4;
        position: absolute;
        z-index: -1111;
        bottom: 26px;
      }
      span {
        color: #c23868;
      }
      .checkDiv {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        border: 1px solid #e6e6e6;
        background: white;
        margin: 0 auto;
        margin-top: 10px;
        img {
          position: absolute;
          width: 18px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:after {
          content: "";
          display: block;
          width: 36px;
          height: 36px;
          background: #f7f5f5;
          border-radius: 50%;
          position: absolute;
          top: -4px;
          left: -4px;
          z-index: -1;
        }
      }

      @media (max-width: 992px) and (min-width: 620px) {
        font-size: 20px;
      }
      @media (max-width: 620px) {
        font-size: 13px;
      }
      @media (max-width: 360px) {
        font-size: 12px;
      }
      @media (max-width: 350px) {
        font-size: 10px;
      }
    }
    @media (max-width: 992px) {
      text-align: center;
    }
    .activeTab {
      color: #c23868;
    }
  }
  .cardWrapper {
    position: relative;
    .card1 {
      width: 100%;
      border-radius: 15px;
      z-index: 10;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 30px rgba(187, 187, 187, 0.59);
      }
    }
    .card2 {
      width: 94%;
      border-radius: 15px;
      position: absolute;
      z-index: -1;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .card3 {
      width: 90%;
      border-radius: 15px;
      position: absolute;
      z-index: -2;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .card1, .card2, .card3 {
      border: 1px solid #e7e7e7;
      background: white;
      overflow: hidden;
      transition: .4s;
      margin-bottom: 30px;
      height: 313px;
    }
  }
  @media (max-width: 992px) {
    padding: 50px 0;
  }
  .productImage {
    width: 100%;
    height: 230px;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    .filter {
      width: 100%;
      height: 100%;
      background: $productPhotoFilter;
      position: absolute;
      left: 0;
      top: 0;
      .oldPrice {
        width: 59px;
        height: 59px;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        top: 10px;
        background: #c23868;
        font-weight: bold;
        .content {
          p {
            font-size: 18px;
            color: white;
            margin-top: 5px;
            text-align: center;
            strike {
              position: relative;
              left: 3px;
            }
            span {
              font-size: 12px;
              position: relative;
              top: -8px;
            }
          }
        }
      }
      .productBadge {
        position: absolute;
        top: 0;
        right: 15px;
        text-align: center;
        padding: 12px;
        margin-bottom: 6px;
        height: 60px;
        width: 25px;
        transform: rotate(90deg);
        p {
          position: absolute;
          z-index: 11;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-90deg);
          font-size: 12px;
          color: white;
          font-family: $font2;
        }
        &:after, &:before {
          content: '';
          position: absolute;
        }
        &:after {
          top: 0;
          left: 0;
          height: 100%;
          width: 51%;
          transform: skew(0deg, -15deg);
        }
        &:before {
          top: 0;
          right: 1px;
          height: 100%;
          width: 50%;
          transform: skew(0deg, 15deg);
        }
      }
      .sale {
        &:after, &:before {
          background: #e28123;
        }
      }
      .new {
        &:after, &:before {
          background: #573ea6;
        }
      }
      .txt {
        position: absolute;
        width: 100%;
        font-size: 18px;
        text-shadow: 0 0 10px white;
        text-align: center;
        font-weight: 600;
        bottom: -10px;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
  .priceInfo {
    position: relative;
    z-index: 10;
    .price {
      display: inline-block;
      font-size: 32px;
      color: #464646;
      padding: 0 10px;
      width: 80px;
      text-align: center;
      font-family: $ralSemiBold;
      margin-top: 3px;
      margin-left: 5px;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 1px;
        position: absolute;
        right: -11px;
        top: 14px;
        height: 47px;
        background: #d8d8d8;
      }
      span {
        font-size: 14px;
        color: #999999;
        position: relative;
        font-family: $ralBold;
        top: -20px;
      }
    }
    button {
      font-size: 18px;
      position: absolute;
      width: 116px;
      cursor: pointer;
      height: 46px;
      right: 17px;
      top: 17px;
      outline: none;
      border: unset;
      color: white;
      background: #2c8e1f;
      border-radius: 10px;
      transition: .4s;
      &:hover {
        background: #c23868;
      }
    }
  }
  .discount {
    .price {
      color: #c23868;
    }
  }
  .breakLine {
    width: 100%;
    height: 1px;
    background: #d0d0d0;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .outOfStock {
    .icon {
      width: 100%;
      height: 100%;
      z-index: 12;
      position: absolute;
      background: rgba(255, 255, 255, 0.73) !important;
      .message {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h3 {
          font-size: 24px;
          margin-top: 15px;
          color: #4e4e4e;
          font-weight: bold;
        }
      }
    }
    .priceInfo {
      z-index: 0 !important;
      .price {
        color: #b7b7b7;
        span {
          color: #b7b7b7;
        }
      }
      button {
        background: #dbdbdb;
        cursor: unset;
        &:hover {
          transform: scale(1);
        }
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .usefulInformations {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    h1 {
      font-weight: 400;
      font-size: 30px;
      margin-bottom: 30px;
      span {
        color: #db5d5f;
      }
    }
    .divider {
      width: 100%;
      height: 8px;
      background: #d4d4d4;
      border-radius: 15px;
      margin-bottom: 42px;
    }
    .card1, .card2, .card3 {
      height: 172px;
    }
    .card1 {
      padding: 28px 35px;
      .image {
        width: 35%;
        height: 100%;
        display: inline-block;
        position: relative;
        img {
          top: 50%;
          left: 43%;
          position: absolute;
          transform: translate(-50%, -50%);
        }
        &:after {
          content: "";
          display: block;
          width: 3px;
          height: 107px;
          border: 1px solid #efefef;
          border-radius: 10px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
      .content {
        width: 58%;
        display: inline-block;
        h4 {
          font-size: 15px;
          font-family: $ralSemiBold;
          span {
            color: #db5d5f;
          }
        }
        p, a {
          font-size: 12px;
          margin-bottom: 0;
          color: #4c4c4c;
          font-family: $ralMedium;
        }
        a {
          color: #c23868;
          font-weight: 600;
          text-decoration: none;
        }
      }
      @media (max-width: 992px) {
        padding: 28px 25px;
      }
      @media (max-width: 320px) {
        .content {
          p, a {
            font-size: 10px;
          }
        }
      }
    }
  }
}

.wider {
  width: 90px !important;
}

// Product page

.breadcrumbs {
  width: 100%;
  height: 60px;
  background: #932d51;
  .pages {
    position: relative;
    margin-top: 15px;
    ul {
      padding: 0;
      li {
        display: inline-block;
        color: white;
        cursor: pointer;
        font-size: 18px;
        margin-left: 13px;
        @media (max-width: 992px) {
          font-size: 12px;
        }
        img {
          position: relative;
          top: -2px;
          margin-right: 9px;
        }
      }
    }
  }
  .previous {
    ul {
      padding: 0;
      margin-top: 15px;
      li {
        display: inline-block;
        color: white;
        cursor: pointer;
        font-size: 18px;
        @media (max-width: 992px) {
          font-size: 12px;
        }
        &:hover {
          img {
            margin-right: 15px;
          }
        }
        img {
          transition: .4s;
          position: relative;
          top: -2px;
          margin-right: 10px;
        }
      }
    }
  }
  @media (max-width: 992px) {
    height: auto;
    text-align: center;
    padding: 1px 0;
    .pages, .previous {
      float: unset !important;
    }
  }
}

.productContent {
  padding: 66px 0 142px 0;
  width: 100%;
  z-index: 0;
  position: relative;
  background: #f2f2f2;
  .productDetail {
    .cardWrapper {
      .card1, .card2, .card3 {
        height: 100%;
      }
      .card1 {
        padding: 33px 30px;
      }
      .card2 {
        width: 98%;
      }
      .card3 {
        width: 97%;
      }
      .imagesWrapper {
        position: relative;
        margin-bottom: 23px;
        .verticalLine {
          width: 1px;
          height: 323px;
          background: #e3e3e3;
          position: absolute;
          top: 0;
          left: calc(50% + 70px);
          transform: translate(-50%, 0);
        }
        .largeImage {
          width: 358px;
          height: 324px;
          border-radius: 10px;
          overflow: hidden;
          display: inline-block;
          background-size: cover !important;
          background-position: center !important;
          background-repeat: no-repeat !important;
          cursor: pointer;
          position: relative;
          .filter {
            width: 100%;
            height: 100%;
            background: $productPhotoFilter;
            position: absolute;
            left: 0;
            top: 0;
            .oldPrice {
              width: 59px;
              height: 59px;
              border-radius: 50%;
              position: absolute;
              right: 10px;
              top: 10px;
              background: #c23868;
              .content {
                p {
                  font-size: 18px;
                  color: white;
                  margin-top: 5px;
                  text-align: center;
                  strike {
                    font-family: $ralBold;
                    position: relative;
                    left: 2px;
                  }
                  span {
                    font-size: 12px;
                    position: relative;
                    font-family: $ralBold;
                    top: -8px;
                  }
                }
              }
            }
            .productBadge {
              position: absolute;
              top: 60px;
              right: 15px;
              text-align: center;
              padding: 12px;
              margin-bottom: 6px;
              height: 60px;
              width: 25px;
              transform: rotate(90deg);
              p {
                position: absolute;
                z-index: 11;
                top: 54%;
                font-weight: bold;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-90deg);
                font-size: 12px;
                color: white;
                font-family: $font2;
              }
              &:after, &:before {
                content: '';
                position: absolute;
              }
              &:after {
                top: 0;
                left: 0;
                height: 100%;
                width: 51%;
                transform: skew(0deg, -15deg);
              }
              &:before {
                top: 0;
                right: 1px;
                height: 100%;
                width: 50%;
                transform: skew(0deg, 15deg);
              }
            }
            .sale {
              &:after, &:before {
                background: #e28123;
              }
            }
            .new {
              &:after, &:before {
                background: #573ea6;
              }
            }
            .txt {
              position: absolute;
              width: 100%;
              font-size: 18px;
              text-shadow: 0 0 10px white;
              text-align: center;
              font-weight: 600;
              bottom: -10px;
              left: 50%;
              transform: translate(-50%);
            }
          }
        }
        .allImages {
          display: inline-block;
          position: absolute;
          ul {
            text-align: center;
            margin-left: 25px;
            li {
              display: inline-block;
              padding: 3px;
              .image {
                width: 98px;
                height: 98px;
                border-radius: 10px;
                overflow: hidden;
                //border: 5px solid #f4f4f4;
                background-size: contain !important;
                background-position: center !important;
                background-repeat: no-repeat !important;
              }
            }
          }
        }
        @media (max-width: 1210px) {
          .verticalLine {
            display: none;
          }
          .largeImage {
            width: 100%;
          }
          .allImages {
            position: static;
            ul {
              margin-top: 23px;
              margin-left: 0;
              padding: 0;
              text-align: left;
            }
          }
        }
        @media (max-width: 520px) {
          .allImages {
            ul {
              text-align: center;
            }
          }
        }
        @media (max-width: 320px) {
          .allImages {
            ul {
              li {
                .image {
                  width: 89px;
                }
              }
            }
          }
        }
      }
      .horizontalLine {
        width: 100%;
        height: 1px;
        background: #e3e3e3;
      }
      .category {
        padding: 20px 0 10px 0;
        h1 {
          font-size: 32px;
          font-family: $ralSemiBold;
          color: #454545;
        }
        p {
          font-size: 14px;
          color: #4f4f4f;
          font-family: $ralMedium;
          a {
            text-decoration: underline;
            color: #c23868;
          }
        }
      }
      .tab {
        .description {
          padding: 20px 0 10px 0;
          .heading {
            h4 {
              font-size: 16px;
              font-family: $ralBold;
              color: #454545;
            }
            .plus {
              cursor: pointer;
              img {
                position: relative;
                top: -2px;
              }
            }
          }
          .content {
            transition: .4s;
            height: 55px;
            overflow: hidden;
            position: relative;
            .filter {
              width: 100%;
              height: 100%;
              position: absolute;
              background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%)
            }
            p {
              font-size: 14px;
              color: #454545;
              font-weight: 500;
              margin-top: 5px;
            }
          }
          .myCollapse {
            height: auto;
            transition: .4s;
            .filter {
              background: unset;
              z-index: -1;
            }
          }
        }
      }
      .quantity {
        margin-top: 19px;
        label {
          font-weight: 700;
          display: block;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input {
          width: 100%;
          height: 44px;
          padding: 5px;
          border: 1px solid #e4e1e1;
          outline: none;
        }
        .arrows {
          position: absolute;
          right: 14px;
          top: 32px;
          background: white;
          width: 47px;
          height: 44px;
          border: 1px solid #e4e1e1;
          .icons {
            position: absolute;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -50%);
            .up, .down {
              position: relative;
              cursor: pointer;
              transition: .4s;
            }
            .up {
              top: 5px;
            }
            .down {
              top: -4px
            }
          }
        }
        .socialList {
          padding: 0;
          margin-top: 38px;
          position: relative;
          li {
            display: inline-block;
            &:first-child {
              margin-right: 17px;
            }
            margin-left: 3px;
          }
          @media (max-width: 992px) {
            text-align: center;
            li {
              &:first-child {
                margin-right: 0;
              }
            }
          }
        }
        .price {
          margin-top: 23px;
          h1 {
            display: inline-block;
            font-size: 50px;
            font-family: $ralMedium;
            myStrike {
              &:after {
                content: "";
                display: block;
                height: 1px;
                width: 65%;
                background: #b5b5b5;
                position: absolute;
                top: 33px;
                left: 3px;
              }
            }
            span {
              font-size: 14px;
              position: relative;
              top: -8px;
              font-weight: 400;
            }
          }
          .old {
            color: #b5b5b5;
            position: relative;
            width: 100%;
            text-align: center;
            &:after {
              content: "";
              display: block;
              width: 1px;
              height: 71px;
              background: #e4e1e1;
              position: absolute;
              right: 0;
              top: 0
            }
            span {
              color: #b5b5b5;
            }
            @media (max-width: 320px) {
              font-size: 41px;
              &:after {
                height: 100%;
                right: -10px;
              }
            }
          }
          .current {
            width: 100%;
            text-align: center;
            position: relative;
            color: #c23868;
            font-size: 50px;
            &:after {
              content: "";
              display: block;
              width: 1px;
              height: 71px;
              background: #e4e1e1;
              position: absolute;
              right: 0;
              top: 0
            }
            span {
              color: #b5b5b5;
            }
            @media (max-width: 320px) {
              font-size: 41px;
              &:after {
                height: 0;
              }
            }
          }
        }
        .cartBtn {
          .addToCart {
            width: 241px;
            margin-top: 23px;
            height: 72px;
            background: #2c8e1f;
            outline: none;
            border: unset;
            cursor: pointer;
            font-size: 32px;
            color: white;
            transition: .4s;
            border-radius: 10px;
            &:hover {
              transform: scale(1.05);
            }
          }
          @media (max-width: 992px) {
            text-align: center;
            .addToCart {
              width: unset;
              height: unset;
              padding: 5px 20px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .noselect {
    user-select: none;
  }
  .products {
    margin-bottom: 40px;
    .lineBreak {
      margin-top: 34px;
      margin-bottom: 14px;
      width: 100%;
      height: 4px;
      background: #dddddd;
    }
    h1 {
      font-size: 32px;
      color: #454545;
      font-family: $ralSemiBold;
      span {
        color: #f06060;
      }
    }
    .productList {
      padding: 0;
      margin-bottom: 30px;
      li {
        position: relative;
        cursor: pointer;
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: #3d3d3d;
          margin: 14px 0 14px 0
        }
        .image {
          display: inline-block;
          margin-right: 19px;
        }
        .text {
          position: absolute;
          width: 39%;
          display: inline-block;
          padding-top: 10px;
          h5 {
            color: #808080;
            font-size: 16px;
          }
          p {
            font-size: 14px;
            color: #808080;
          }
          &:after {
            content: "";
            display: block;
            width: 1px;
            height: 68px;
            background: #3d3d3d;
            position: absolute;
            top: 46%;
            right: -20px;
            transform: translate(0, -50%);
          }
        }
        .price {
          display: inline-block;
          position: absolute;
          right: 20px;
          top: 5px;
          @media (max-width: 1200px) and (min-width: 992px) {
            right: 0;
          }
          @media (max-width: 992px) and (min-width: 321px) {
            right: 20px;
          }
          @media (max-width: 320px) {
            right: 0;
          }
          p {
            text-align: center;
            color: #999999;
            font-family: $ralBold;
            font-size: 14px;
            span {
              color: #c23868;
              font-size: 32px;
              font-family: $ralBold;
            }
          }
        }
      }
    }
    .searchForm {
      margin-top: 30px;
      margin-bottom: 30px;
      position: relative;
      input {
        position: relative;
        width: 75%;
        height: 48px;
        outline: none;
        border-radius: 10px;
        padding: 17px 17px;
        border: 1px solid #e4e1e1;
      }
      button {
        width: 98px;
        height: 48px;
        font-size: 18px;
        font-weight: 500;
        color: white;
        font-weight: 400;
        border: unset;
        background: #2c8e1f;
        border-radius: 10px;
        outline: none;
        position: absolute;
        right: 5px;
      }
    }
    .tags {
      padding: 0;
      li {
        cursor: pointer;
        padding: 10px 18px;
        margin: 0 3px 8px 0;
        border-radius: 10px;
        background: white;
        display: inline-block;
        text-align: center;
        font-size: 16px;
        color: #6c6c6c;
        @media (max-width: 992px) {
          padding: 10px 40px;
        }
      }
    }
  }
  .similiarProducts {
    margin-top: 70px;
    @media (max-width: 992px) {
      margin-top: 0;
    }
    .homeContent {
      padding: 0;
      margin-top: 35px;
    }
    .cardWrapper {
      position: relative;
      .card1 {
        width: 100%;
        border-radius: 15px;
        z-index: 10;
        &:hover {
          box-shadow: 0 0 30px rgba(187, 187, 187, 0.59);
        }

      }
      .card2 {
        width: 94%;
        border-radius: 15px;
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translate(-50%, 0);
      }
      .card3 {
        width: 90%;
        border-radius: 15px;
        position: absolute;
        z-index: -2;
        left: 50%;
        transform: translate(-50%, 0);
      }
      .card1, .card2, .card3 {
        border: 1px solid #e7e7e7;
        background: white;
        overflow: hidden;
        transition: .4s;
        height: 313px;
      }
    }

    .lineBreak {
      margin-top: 34px;
      margin-bottom: 14px;
      width: 100%;
      height: 6px;
      border-radius: 10px;
      background: #dddddd;
    }
    h1 {
      font-size: 32px;
      color: #454545;
      font-family: $ralSemiBold;
      span {
        color: #f06060;
      }
    }
  }
}

.previewImage {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.61);
  visibility: hidden;
  transition: .4s;
  opacity: 0;
  z-index: 7777;
  .closeDiv {
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 50px;
    &:hover {
      img {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
    img {
      width: 50px;
      transition: .4s;
    }
  }
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 992px) {
      width: 100%;
    }
    @media (max-height: 500px) {
      width: 50%;
    }
  }
}

// Cart Page

.cartContent {
  padding: 66px 0 66px 0;
  width: 100%;
  z-index: 0;
  position: relative;
  background: #f2f2f2;
  padding-bottom: 150px;
  .cardWrapper {
    margin-bottom: 45px;
    .table-responsive {
      margin-bottom: -17px;
      @media (max-width: 992px) {
        margin-bottom: 0;
      }
    }
    .card1, .card2, .card3 {
      height: 100%;
    }
    .card2 {
      width: 99%;
    }
    .card3 {
      width: 98%;
    }
  }
  .cartTable {
    td, th {
      border-top: unset;
      border-right: 1px solid #e3e3e3;
      border-bottom: 1px solid #e3e3e3;
      &:nth-child(5n) {
        border-right: unset;
      }
    }
    th {
      text-transform: uppercase;
      font-family: $ralExBold;
      color: #484848;
      text-align: center;
      &:nth-child(2) {
        text-align: left;
      }
    }
    tr {
      td {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        &:nth-child(1) {
          width: 80px;
          .removeDiv {
            cursor: pointer;
          }
        }
        // Quantity row
        &:nth-child(3) {
          width: 135px;
          input {
            width: 43px;
            font-weight: bold;
            font-size: 14px;
            color: #696969;
            height: 34px;
            text-align: center;
            border: 1px solid #e4e1e1;
            outline: none;
            border-radius: 3px;
          }
        }

        // Item
        &:nth-child(2) {
          width: 340px;
          text-align: left;
          font-size: 14px;
        }

        // Unit price and total price
        &:nth-child(4) {
          width: 242px;
          color: #696969;
        }
        &:nth-child(5) {
          color: #1a1a1a;
        }
        &:nth-child(4), &:nth-child(5) {
          font-size: 14px;
          font-family: $openSansBold;
          span {
            font-family: $openSansBold;
          }
        }
      }
    }
  }
  .discount {
    width: 100%;
    height: auto;
    border: 1px solid #e7e7e7;
    background: white;
    border-radius: 10px;
    padding: 30px 30px;
    font-family: $ralMedium;
    margin-bottom: 26px;
    h1 {
      color: #932d51;
      font-size: 18px;
    }
    p {
      font-size: 14px;
      color: #838383;
      font-family: $ralMedium;
      margin-bottom: 22px;
    }
    input {
      width: 100%;
      height: 34px;
      border-radius: 3px;
      border: 2px solid #e4e1e1;
      outline: none;
      padding: 0 10px;
      margin-bottom: 23px;
    }
    button {
      width: 111px;
      height: 34px;
      background: #2c8e1f;
      outline: none;
      border-radius: 7px;
      color: white;
      font-size: 14px;
      border: unset;
      cursor: pointer;
      font-family: $ralSemiBold;
    }
  }
  .cartTotal {
    padding: 0;
    overflow: hidden;
    .table-responsive {
      margin-bottom: -17px;
    }
    .totalTable {
      td, th {
        border-top: unset;
        border-right: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
      }
      td {
        color: #932d51;
        font-family: $ralMedium;
        text-align: center;
        padding: 25px;
        &:nth-child(2n) {
          border-right: unset;
          color: #303030;
          font-family: $openSansBold;
        }
      }
    }
  }
  .buttonList {
    padding: 0;
    margin-top: 29px;
    li {
      display: inline-block;
      margin-left: 12px;
      margin-bottom: 12px;
      button {
        width: 158px;
        height: 49px;
        border-radius: 7px;
        border: unset;
        background: #3f4044;
        color: white;
        outline: none;
        font-size: 18px;
        font-family: $ralMedium;
        transition: .4s;
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
        }
      }
      &:last-child {
        button {
          background: #e62367;
        }
      }
    }
    @media (max-width: 520px) {
      margin-top: 0;
      li {
        button {
          width: unset;
          height: unset;
          padding: 5px 20px;
          font-size: 14px;
        }
      }
    }
  }
}

// Footer

.footer {
  width: 100%;
  background: #2f2f2f;
  padding: 140px 0 55px 0;
  position: relative;
  z-index: 222;
  .search {
    width: 50%;
    height: 140px;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translate(-50%, 0);
    .cardWrapper {
      position: relative;
      .card1 {
        width: 100%;
        border-radius: 15px;
        z-index: 10;
        padding: 40px 23px 40px 23px;
        .content {
          position: absolute;
          top: 50%;
          width: 100%;
          left: 0;
          text-align: center;
          transform: translate(0, -50%);
          input {
            width: 73%;
            border-radius: 15px;
            border: 1px solid #e4e1e1;
            padding: 20px 20px;
            height: 51px;
            outline: none;
            margin-right: 20px;
          }
          button {
            width: 185px;
            height: 56px;
            cursor: pointer;
            outline: none;
            color: white;
            border: unset;
            border-radius: 9px;
            background: #2c8e1f;
            transition: .4s;
            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
      .card2 {
        width: 99%;
        border-radius: 15px;
        position: absolute;
        top: -5px;
        z-index: -1;
        left: 50%;
        transform: translate(-50%, 0);
      }
      .card3 {
        width: 98%;
        border-radius: 15px;
        position: absolute;
        top: -10px;
        z-index: -2;
        left: 50%;
        transform: translate(-50%, 0);
      }
      .card1, .card2, .card3 {
        border: 1px solid #e7e7e7;
        background: white;
        overflow: hidden;
        transition: .4s;
        margin-bottom: 20px;
        height: 140px;
      }
    }
    @media (max-width: 1560px) {
      width: 80%;
    }
    @media (max-width: 992px) {
      width: 90%;
      .card1 {
        .content {
          input {
            width: 90% !important;
            font-size: 10px;
            margin-right: unset !important;
          }
          button {
            font-size: 10px;
            padding: 10px;
            margin-top: 10px;
            height: unset !important;
          }
        }
      }
    }
  }

  h1 {
    font-size: 32px;
    color: white;
    margin-bottom: 30px;
  }
  .lineBreak {
    width: 100%;
    height: 3px;
    background: #3b3b3b;
  }
  ul {
    padding: 0;
  }
  .shopmint {
    margin-bottom: 40px;
    .lineBreak {
      margin-bottom: 30px;
    }
    p {
      font-size: 14px;
      color: white;
      font-family: $ralRegular;
    }
    .text {
      margin-bottom: 34px;
    }
    ul {
      li {
        &:last-child {
          p {
            font-weight: 300;
          }
        }
      }
    }
  }
  .products {
    margin-bottom: 40px;
    .lineBreak {
      margin-bottom: 14px;
    }
    h1 {
      span {
        color: #f06060;
      }
    }
    ul {
      li {
        position: relative;
        cursor: pointer;
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: #3d3d3d;
          margin: 14px 0 14px 0
        }
        .image {
          display: inline-block;
          margin-right: 19px;
        }
        .text {
          position: absolute;
          width: 39%;
          display: inline-block;
          padding-top: 10px;
          h5, p {
            color: white;
          }
          h5 {
            font-size: 16px;
            font-family: $ralRegular;
          }
          p {
            font-size: 14px;
            color: #808080;
          }
          &:after {
            content: "";
            display: block;
            width: 1px;
            height: 68px;
            background: #3d3d3d;
            position: absolute;
            top: 46%;
            right: -20px;
            transform: translate(0, -50%);
          }
        }
        .price {
          display: inline-block;
          position: absolute;
          right: 20px;
          top: 5px;
          p {
            span {
              color: #c23868;
              font-family: $ralRegular;
              font-size: 32px;
            }
            text-align: center;
            font-size: 14px;
            color: white;
            font-family: $ralRegular;
          }
        }
      }
    }
  }

  .copyright {
    width: 100%;
    padding: 19px 0 0 0;
    background: #262626;
    position: absolute;
    bottom: 0;
    p {
      display: block;
      font-size: 12px;
      color: #a0a0a0;
      span {
        color: #c23868;
      }
    }
  }
}

