<div class="footer">
    <div class="search">
        <div class="cardWrapper">
            <div class="card1">
                <div class="content">
                    <input type="text" placeholder="Looking for another product? Use this search form and hit enter...">
                    <button>Search product</button>
                </div>
            </div>
            <div class="card2"></div>
            <div class="card3"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="shopmint">
                    <h1>Shopmint</h1>
                    <div class="lineBreak"></div>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra, urna quis
                        dignissim .</p>
                    <ul>
                        <li>
                            <p>
                                +(49) 123 456 789
                                <br>
                                +(49) 789 654 321
                            </p>
                        </li>
                        <li>
                            <p>
                                awesome@email.com
                                <br>
                                sales@email.com
                            </p>
                        </li>
                        <li>
                            <p>
                                MONDAY-FRIDAY : 08:00-18:00
                                <br>
                                SATURDAY-SUNDAY : Closed
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="products">
                    <h1>Best seller<span>.</span></h1>
                    <div class="lineBreak"></div>
                    <ul>
                        <li>
                            <div class="image">
                                <img src="img/footer/best/1.png" />
                            </div>
                            <div class="text">
                                <h5>Face care pack</h5>
                                <p>Lorem ipsum dolor sit amet, consecte ...</p>
                            </div>
                            <div class="price">
                                <p>
                                    <span>36</span>
                                    <br>
                                    USD
                                </p>
                            </div>
                        </li>

                        <li>
                            <div class="image">
                                <img src="img/footer/best/2.png" />
                            </div>
                            <div class="text">
                                <h5>Bath & Body pack</h5>
                                <p>Lorem ipsum dolor sit amet, consecte ...</p>
                            </div>
                            <div class="price">
                                <p>
                                    <span>27</span>
                                    <br>
                                    USD
                                </p>
                            </div>
                        </li>

                        <li>
                            <div class="image">
                                <img src="img/footer/best/3.png" />
                            </div>
                            <div class="text">
                                <h5>Skin care pack</h5>
                                <p>Lorem ipsum dolor sit amet, consecte ...</p>
                            </div>
                            <div class="price">
                                <p>
                                    <span>66</span>
                                    <br>
                                    USD
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="products">
                    <h1>Just added<span>.</span></h1>
                    <div class="lineBreak"></div>
                    <ul>
                        <li>
                            <div class="image">
                                <img src="img/footer/justAdded/1.png" />
                            </div>
                            <div class="text">
                                <h5>Bath & Body pack</h5>
                                <p>Lorem ipsum dolor sit amet, consecte ...</p>
                            </div>
                            <div class="price">
                                <p>
                                    <span>27</span>
                                    <br>
                                    USD
                                </p>
                            </div>
                        </li>

                        <li>
                            <div class="image">
                                <img src="img/footer/justAdded/2.png" />
                            </div>
                            <div class="text">
                                <h5>Skin care pack</h5>
                                <p>Lorem ipsum dolor sit amet, consecte ...</p>
                            </div>
                            <div class="price">
                                <p>
                                    <span>66</span>
                                    <br>
                                    USD
                                </p>
                            </div>
                        </li>

                        <li>
                            <div class="image">
                                <img src="img/footer/justAdded/3.png" />
                            </div>
                            <div class="text">
                                <h5>Face care pack</h5>
                                <p>Lorem ipsum dolor sit amet, consecte ...</p>
                            </div>
                            <div class="price">
                                <p>
                                    <span>36</span>
                                    <br>
                                    USD
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>Copyright <span>YourShop</span> 2017. All right reserved and stuff. Bulgaria 1000 SF</p>
        </div>
    </div>
</div>