<div class="topBar">
    <div class="container">
        <div class="leftNav float-left">
            <ul>
                <li>
                    <img src="img/icons/header/user.png" alt="">
                    <span>My Account</span>
                </li>
                <li>
                    <img src="img/icons/header/heart.png" alt="">
                    <span>My wishlist</span>
                </li>
                <li>
                    <img src="img/icons/header/cart.png" alt="">
                    <span>Cart</span>
                </li>
                <li>
                    <img src="img/icons/header/checkout.png" alt="">
                    <span>Checkout</span>
                </li>
            </ul>
        </div>
        <div class="rightContent float-right">
            <ul>
                <li>
                    <select>
                        <option value="en">EN</option>
                        <option value="bg">BG</option>
                    </select>
                </li>
                <li>
                    <select>
                        <option value="usd">USD $</option>
                        <option value="eur">Euro</option>
                    </select>
                </li>
                <li>
                    <span>Welcome, <b>Darina.</b></span>
                    <div class="profilePhoto"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="logoDiv" ui-sref="home">
                    <img src="img/logo.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="cart float-right">
                    <div class="cartIcon" ui-sref="cart">
                        <img src="img/icons/header/largerCart.png" alt="">
                        <div class="counter">
                            {{cart.length}}
                        </div>
                    </div>
                    <h3>{{cartSum}} <span ng-if="cartSum == undefined">0</span> $</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="links" ng-controller="headerController">
    <ul class="mainMenu">
        <li ui-sref="home" ui-sref-active="activeLink">New Arrivals</li>
        <li class="sub">
            <span>Cosmetics</span> <img class="caret" src="img/icons/header/caret.png" alt="">
            <ul class="submenu">
                <li>T-shirts</li>
                <li>Jeans</li>
                <li>Shorts</li>
            </ul>
        </li>
        <li>Brushes</li>
        <li>Eyelashes</li>
        <li>Hair</li>
        <li>Skincare</li>
        <li>Makeup</li>
        <li>Best Sellers</li>
        <li>Bath & Body</li>
        <li>Family</li>
        <li>Beauty</li>
        <li>
            <div class="loup">
                <img src="img/icons/header/loup.png" alt="">
            </div>
        </li>
    </ul>
    <div class="burgerParent">
        <div class="burger">
            <div class="burger1"></div>
            <div class="burger2"></div>
            <div class="burger3"></div>
        </div>
    </div>

</div>

<div class="mobileMenu">
    <ul class="mobileList">
        <li ui-sref="home" ui-sref-active="activeMobileLink">New Arrivals</li>
        <li class="sub">
            <span>Cosmetics</span> <img class="caret" src="img/icons/header/whiteCaret.png" alt="">
            <ul class="submenu">
                <li>T-shirts</li>
                <li>Jeans</li>
                <li>Shorts</li>
            </ul>
        </li>
        <li>Brushes</li>
        <li>Eyelashes</li>
        <li>Hair</li>
        <li>Skincare</li>
        <li>Makeup</li>
        <li>Best Sellers</li>
        <li>Bath & Body</li>
        <li>Family</li>
        <li>Beauty</li>
        <li>
            <div class="loup">
                <img src="img/icons/header/whiteLoup.png" alt="">
            </div>
        </li>
    </ul>
</div>

<div class="stickySocial">
    <ul>
        <li>
            <a href="">
                <img src="img/icons/social2/Facebook.png" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="img/icons/social2/Twitter.png" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="img/icons/social2/Google +.png" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="img/icons/social2/Linkedin.png" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="img/icons/social2/Instagram.png" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="img/icons/social2/Youtube.png" alt="">
            </a>
        </li>
    </ul>
</div>