<div ng-include="'view/partials/header.html'"></div>

<div class="breadcrumbs">
    <div class="container">
        <div class="pages float-left">
            <ul>
                <li ui-sref="home">Homepage</li>
                <li>
                    <img src="img/icons/plus.png" alt="">
                    Checkout
                </li>
            </ul>
        </div>
        <div class="previous float-right">
            <ul>
                <li>
                    Checkout
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="cartContent">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cardWrapper">
                    <div class="card1">
                        <div class="table-responsive">
                            <table class="table cartTable">
                                <tr>
                                    <th></th>
                                    <th>item</th>
                                    <th>quantity</th>
                                    <th>unit price</th>
                                    <th>total</th>
                                </tr>
                                <tr ng-repeat="c in cart track by $index">
                                    <td>
                                        <div class="removeDiv" ng-click="removeFromCart($index)">
                                            <img src="img/icons/cartRemove.png" alt="">
                                        </div>
                                    </td>
                                    <td>
                                        {{c.title}}
                                    </td>
                                    <td>
                                        <input type="text" ng-model="c.quant" ng-change="quantChange($index, c.quant)">
                                    </td>
                                    <td>
                                        <span ng-if="c.originalPrice != undefined">{{c.originalPrice | currency: "":2}}</span>
                                        <span ng-if="c.originalPrice == undefined">{{c.price | currency: "":2}}</span> USD
                                    </td>
                                    <td>
                                        {{c.price | currency: "" :2}} USD
                                    </td>
                                </tr>
                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--<div class="removeDiv">-->
                                            <!--<img src="img/icons/cartRemove.png" alt="">-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--Adidas Commander TD3 Code G48794-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<input type="text" value="1">-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--29,99 USD-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--159,99 USD-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--<div class="removeDiv">-->
                                            <!--<img src="img/icons/cartRemove.png" alt="">-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--Adidas Ax 1 Code V21609-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<input type="text" value="1">-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--29,99 USD-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--159,99 USD-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--<div class="removeDiv">-->
                                            <!--<img src="img/icons/cartRemove.png" alt="">-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--Adidas Barricade 6 Andy Murray Code G40436-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<input type="text" value="1">-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--29,99 USD-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--159,99 USD-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--<div class="removeDiv">-->
                                            <!--<img src="img/icons/cartRemove.png" alt="">-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--Adidas Galaxy Arriba II Code G60635-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<input type="text" value="1">-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--29,99 USD-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--159,99 USD-->
                                    <!--</td>-->
                                <!--</tr>-->
                            </table>
                        </div>
                    </div>
                    <div class="card2"></div>
                    <div class="card3"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="discount">
                    <h1>Discount coupon</h1>
                    <p>
                        If you have a coupon code please enter it here
                    </p>
                    <form>
                        <input type="text" placeholder="">
                        <button class="float-right">Submit</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="discount cartTotal">
                    <div class="table-responsive">
                        <table class="table totalTable">
                            <tr>
                                <td>Order subtotal</td>
                                <!--<td>11225,99 USD</td>-->
                                <td>{{orderSubTotal | currency: '':2}} USD</td>
                            </tr>
                            <tr>
                                <td>Tax / Shipping (7%)</td>
                                <td>{{tax | currency: "":2}} USD</td>
                            </tr>
                            <tr>
                                <td>Order total</td>
                                <td>{{orderTotal | currency:"":2}} USD</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <ul class="buttonList float-right">
                    <li>
                        <button>Shop more</button>
                    </li>
                    <li>
                        <button>Update cart</button>
                    </li>
                    <li>
                        <button>Place order</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div ng-include="'view/partials/footer.html'"></div>
