<div ng-include="'view/partials/header.html'"></div>

<div class="slider">
    <div class="points">
        <ul>
            <li ng-repeat="s in slider" ng-click="changeSlide($index)">
                <div class="point" ng-class="{'activePoint' : s.active}"></div>
            </li>
        </ul>
    </div>
    <div class="image" ng-repeat="s in slider" style="background-image: url('img/{{s.image}}')"
         ng-class="{'activeImage' : s.active}">
        <ul class="badges">
            <li>
                <div class="freeDelivery">
                    <div class="content">
                        <p>Delivery</p>
                        <h1>Free</h1>
                    </div>
                </div>
            </li>

            <li class="largeBox">
                <div class="greatSale1" ng-if="s.allBalsamic">
                    <div class="content">
                        <h1>Great sale</h1>
                        <p>On all balsamic</p>
                    </div>
                </div>
                <div class="greatSale2" ng-if="s.allModels">
                    <div class="content">
                        <div class="box1">
                            <h1>Great sale</h1>
                        </div>
                        <div class="box1 box2">
                            <h2>On all models</h2>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="freeDelivery">
                    <div class="content">
                        <p>Only for</p>
                        <h1>42 <span>$</span></h1>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="homeContent">
    <div class="container">
        <ul class="tabs">
            <li ng-repeat="t in tabs" ng-click="changeTab($index)" ng-class="{'activeTab': t.active}">
                {{t.tabName}}<span>.</span>
                <div class="checkDiv">
                    <img ng-if="!t.active" src="img/icons/greyCheck.png" alt="">
                    <img ng-if="t.active" src="img/icons/redCheck.png" alt="">
                    <!--<div class="line"></div>-->
                </div>
            </li>
        </ul>
        <div class="row">
            <div class="col-lg-3" ng-repeat="p in products">
                <div class="cardWrapper">
                    <div class="card1" ng-class="{'outOfStock' : !p.available}">
                        <div class="productImage" style="background: url('img/products/{{p.image}}')"
                             ng-click="changeState(p)">
                            <div class="filter">
                                <div class="oldPrice" ng-if="p.oldPrice != ''">
                                    <div class="content">
                                        <p><strike>{{p.oldPrice}}</strike> <br><span>USD</span></p>
                                    </div>
                                </div>
                                <div class="icon" ng-if="!p.available">
                                    <div class="message">
                                        <img src="img/products/outofstock.png" alt="">
                                        <h3>OUT OF STOCK</h3>
                                    </div>
                                </div>
                                <div class="productBadge" ng-class="{'new' : p.new, 'sale' : p.sale}">
                                    <p ng-if="p.sale">SALE!</p>
                                    <p ng-if="p.new">NEW!</p>
                                </div>
                                <p class="txt">
                                    {{p.title}}
                                </p>
                            </div>
                        </div>
                        <div class="priceInfo" ng-class="{'discount' : p.oldPrice != ''}">
                            <p class="price float-left" ng-class="{'wider': p.price.length >= 4}">{{p.price}} <span>USD</span></p>
                            <button class="float-right" ng-click="addToCart(p)" ng-disabled="!p.available">Add to cart
                            </button>
                        </div>
                    </div>
                    <div class="card2"></div>
                    <div class="card3"></div>
                </div>
                <!--<div class="breakFlag" ng-if="$index % 4 == 3"></div>-->
                <div class="breakFlag" ng-if="($index + 1) / 4 == 1"></div>
            </div>
        </div>
        <div class="usefulInformations">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Useful informations<span>.</span></h1>
                    <div class="divider"></div>
                </div>
                <div class="col-lg-4">
                    <div class="cardWrapper">
                        <div class="card1">
                            <div class="image">
                                <img src="img/icons/shipping.png" alt="">
                            </div>
                            <div class="content float-right">
                                <h4>Very fast delivery<span>.</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra, urna quis
                                    dignissim</p>
                                <a href="">MORE</a>
                            </div>
                        </div>
                        <div class="card2"></div>
                        <div class="card3"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cardWrapper">
                        <div class="card1">
                            <div class="image">
                                <img src="img/icons/sale.png" alt="">
                            </div>
                            <div class="content float-right">
                                <h4>Every week discounts<span>.</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra, urna quis
                                    dignissim</p>
                                <a href="">MORE</a>
                            </div>
                        </div>
                        <div class="card2"></div>
                        <div class="card3"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cardWrapper">
                        <div class="card1">
                            <div class="image">
                                <img src="img/icons/dollar.png" alt="">
                            </div>
                            <div class="content float-right">
                                <h4>Money saver<span>.</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra, urna quis
                                    dignissim</p>
                                <a href="">MORE</a>
                            </div>
                        </div>
                        <div class="card2"></div>
                        <div class="card3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'view/partials/footer.html'"></div>