<div ng-include="'view/partials/header.html'"></div>

<div class="breadcrumbs">
    <div class="container">
        <div class="pages float-left">
            <ul>
                <li ui-sref="home">Homepage</li>
                <li>
                    <img src="img/icons/plus.png" alt="">
                    Product
                </li>
            </ul>
        </div>
        <div class="previous float-right">
            <ul>
                <li>
                    <img src="img/icons/arrowToLeft.png" alt="">
                    Bath & Body pack
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="productContent">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="productDetail">
                    <div class="cardWrapper ">
                        <div class="card1">
                            <div class="imagesWrapper">
                                <div class="largeImage" ng-click="viewImage(product.image)"
                                     style="background: url('img/products/{{product.image}}')">
                                    <div class="filter">
                                        <div class="oldPrice">
                                            <div class="content">
                                                <p><strike>120</strike> <br><span>USD</span></p>
                                            </div>
                                        </div>
                                        <div class="productBadge sale">
                                            <p>SALE!</p>
                                            <!--<p>NEW!</p>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="verticalLine"></div>
                                <div class="allImages">
                                    <ul>
                                        <li>
                                            <div class="image" style="background: url('img/products/thumbs/1.png')"></div>
                                        </li>
                                        <li>
                                            <div class="image" style="background: url('img/products/thumbs/2.png')"></div>
                                        </li>
                                        <li>
                                            <div class="image" style="background: url('img/products/thumbs/3.png')"></div>
                                        </li>
                                        <li>
                                            <div class="image" style="background: url('img/products/thumbs/4.png')"></div>
                                        </li>
                                        <li>
                                            <div class="image" style="background: url('img/products/thumbs/5.png')"></div>
                                        </li>
                                        <li>
                                            <div class="image" style="background: url('img/products/thumbs/6.png')"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="horizontalLine"></div>

                            <div class="category">
                                <h1>{{product.title}}</h1>
                                <p>
                                    Added in category <a href="">bath & body</a>. Browse all the products inside the <a
                                        href="">bath
                                    & body</a> Category.
                                </p>
                            </div>
                            <div class="horizontalLine"></div>
                            <div class="tab">
                                <div class="description noselect">
                                    <div class="heading">
                                        <h4 class="float-left">Description</h4>
                                        <div class="plus float-right">
                                            <img src="img/icons/plusGrey.png" alt="">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="content myCollapse">
                                        <div class="filter"></div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu purus sit amet
                                            nisl
                                            cursus tincidunt. Integer et libero pharetra, fringilla metus vitae, tempor
                                            lacus.
                                            Nulla
                                            vitae est leo. Nam gravida posuere ante, non condimentum justo eleifend non.
                                            Praesent
                                            consequat augue eget aliquet lacinia. Vestibulum non posuere neque, at
                                            scelerisque
                                            enim.
                                            <br>
                                            Vestibulum facilisis congue scelerisque. Nulla vitae est leo. Nam gravida
                                            posuere
                                            ante,
                                            non condimentum justo eleifend non. Praesent consequat augue eget aliquet
                                            lacinia.
                                            Vestibulum non posuere neque, at scelerisque enim. Vestibulum facilisis congue
                                            scelerisque..
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontalLine"></div>
                            <div class="quantity">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="quant">Select a quantity</label>
                                        <input type="number" min="1" name="quant" ng-model="quant">
                                        <div class="arrows">
                                            <div class="icons noselect">
                                                <div class="up" ng-click="increment()">
                                                    <img src="img/icons/arrowUp.png" alt="">
                                                </div>
                                                <div class="down" ng-click="decrement()">
                                                    <img src="img/icons/arrowDown.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="socialList">
                                            <li>
                                                <a href="">
                                                    <img src="img/icons/social/heart.png" alt="">
                                                </a>
                                            </li>

                                            <li>
                                                <a href="">
                                                    <img src="img/icons/social/Facebook.png" alt="">
                                                </a>
                                            </li>

                                            <li>
                                                <a href="">
                                                    <img src="img/icons/social/twitter.png" alt="">
                                                </a>
                                            </li>

                                            <li>
                                                <a href="">
                                                    <img src="img/icons/social/Linkedin.png" alt="">
                                                </a>
                                            </li>

                                            <li>
                                                <a href="">
                                                    <img src="img/icons/social/Google +.png" alt="">
                                                </a>
                                            </li>

                                            <li>
                                                <a href="">
                                                    <img src="img/icons/social/Pinterest.png" alt="">
                                                </a>
                                            </li>

                                        </ul>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="price">
                                            <div class="row">
                                                <div class="col" ng-if="product.oldPrice != ''">
                                                    <h1 class="old"><myStrike>{{product.oldPrice}}</myStrike> <span>USD</span></h1>
                                                </div>
                                                <div class="col">
                                                    <h1 class="current">{{product.price}} <span>USD</span></h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="cartBtn">
                                            <button class="addToCart" ng-click="addToCart(product)">Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card2"></div>
                        <div class="card3"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="products">
                    <h1>Promo products<span>.</span></h1>
                    <div class="lineBreak"></div>
                    <ul class="productList">
                        <li>
                            <div class="image">
                                <img src="img/products/sidebar/1.png"/>
                            </div>
                            <div class="text">
                                <h5>Face care pack</h5>
                                <p>Lorem ipsum dolor sit amet, consecte ...</p>
                            </div>
                            <div class="price">
                                <p>
                                    <span>27</span>
                                    <br>
                                    USD
                                </p>
                            </div>
                        </li>

                        <li>
                            <div class="image">
                                <img src="img/products/sidebar/2.png"/>
                            </div>
                            <div class="text">
                                <h5>Bath & Body pack</h5>
                                <p>Lorem ipsum dolor sit amet, consecte ...</p>
                            </div>
                            <div class="price">
                                <p>
                                    <span>66</span>
                                    <br>
                                    USD
                                </p>
                            </div>
                        </li>

                        <li>
                            <div class="image">
                                <img src="img/products/sidebar/3.png"/>
                            </div>
                            <div class="text">
                                <h5>Skin care pack</h5>
                                <p>Lorem ipsum dolor sit amet, consecte ...</p>
                            </div>
                            <div class="price">
                                <p>
                                    <span>26</span>
                                    <br>
                                    USD
                                </p>
                            </div>
                        </li>
                    </ul>

                    <h1>Search our shop<span>.</span></h1>
                    <div class="lineBreak"></div>
                    <form class="searchForm">
                        <input type="text" placeholder="Search product...">
                        <button>Search!</button>
                    </form>

                    <h1>Shop tags<span>.</span></h1>
                    <div class="lineBreak"></div>
                    <ul class="tags">
                        <li>awesomeness</li>
                        <li>cool</li>
                        <li>awesome</li>
                        <li>awesome</li>
                        <li>awesome</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 similiarProducts">
                <h1>You might also like<span>.</span></h1>
                <div class="lineBreak"></div>
                <div class="homeContent">
                    <div class="row">
                        <div class="col-lg-3" ng-repeat="p in products | limitTo: 4">
                            <div class="cardWrapper">
                                <div class="card1" ng-class="{'outOfStock' : !p.available}">
                                    <div class="productImage" style="background: url('img/products/{{p.image}}')"
                                         ui-sref="product({title: p.title, image: p.image, price: p.price, oldPrice: p.oldPrice})">
                                        <div class="filter">
                                            <div class="oldPrice" ng-if="p.oldPrice != ''">
                                                <div class="content">
                                                    <p><strike>{{p.oldPrice}}</strike> <br><span>USD</span></p>
                                                </div>
                                            </div>
                                            <div class="icon" ng-if="!p.available">
                                                <div class="message">
                                                    <img src="img/products/outofstock.png" alt="">
                                                    <h3>OUT OF STOCK</h3>
                                                </div>
                                            </div>
                                            <div class="productBadge" ng-class="{'new' : p.new, 'sale' : p.sale}">
                                                <p ng-if="p.sale">SALE!</p>
                                                <p ng-if="p.new">NEW!</p>
                                            </div>
                                            <p class="txt">
                                                {{p.title}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="priceInfo" ng-class="{'discount' : p.oldPrice != ''}">
                                        <p class="price float-left">{{p.price}} <span>USD</span></p>
                                        <button class="float-right" ng-click="addToCart(p)" ng-disabled="!p.available">Add to cart
                                        </button>
                                    </div>
                                </div>
                                <div class="card2"></div>
                                <div class="card3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="previewImage">
    <div class="closeDiv">
        <img src="img/icons/close.png" alt="">
    </div>
    <img ng-src="img/products/{{image}}" alt="">
</div>

<div ng-include="'view/partials/footer.html'"></div>
